{
  "openapi": "3.0.3",
  "info": {
    "title": "Builder API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.typebot.io/api"
    }
  ],
  "externalDocs": {
    "url": "https://docs.typebot.io/api-reference"
  },
  "paths": {
    "/v1/typebots/{typebotId}/linkedTypebots": {
      "get": {
        "operationId": "getLinkedTypebots",
        "summary": "Get linked typebots",
        "tags": ["Typebot"],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "typebotId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "typebots": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "version": {
                                "type": "string",
                                "enum": ["3", "4", "5"]
                              },
                              "groups": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "graphCoordinates": {
                                      "type": "object",
                                      "properties": {
                                        "x": {
                                          "type": "number"
                                        },
                                        "y": {
                                          "type": "number"
                                        }
                                      },
                                      "required": ["x", "y"]
                                    },
                                    "blocks": {
                                      "type": "array",
                                      "items": {
                                        "oneOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["start"]
                                              },
                                              "label": {
                                                "type": "string"
                                              }
                                            },
                                            "required": ["id", "type", "label"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["text"]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "html": {
                                                    "type": "string"
                                                  },
                                                  "richText": {
                                                    "type": "array",
                                                    "items": {}
                                                  },
                                                  "plainText": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["image"]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "clickLink": {
                                                    "type": "object",
                                                    "properties": {
                                                      "url": {
                                                        "type": "string"
                                                      },
                                                      "alt": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["video"]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "url",
                                                      "youtube",
                                                      "vimeo",
                                                      "tiktok",
                                                      "gumlet"
                                                    ]
                                                  },
                                                  "height": {
                                                    "anyOf": [
                                                      {
                                                        "type": "number"
                                                      },
                                                      {}
                                                    ]
                                                  },
                                                  "aspectRatio": {
                                                    "type": "string"
                                                  },
                                                  "maxWidth": {
                                                    "type": "string"
                                                  },
                                                  "queryParamsStr": {
                                                    "type": "string"
                                                  },
                                                  "areControlsDisplayed": {
                                                    "type": "boolean"
                                                  },
                                                  "isAutoplayEnabled": {
                                                    "type": "boolean"
                                                  }
                                                }
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["embed"]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "height": {
                                                    "anyOf": [
                                                      {
                                                        "type": "number"
                                                      },
                                                      {}
                                                    ]
                                                  },
                                                  "waitForEvent": {
                                                    "type": "object",
                                                    "properties": {
                                                      "isEnabled": {
                                                        "type": "boolean"
                                                      },
                                                      "name": {
                                                        "type": "string"
                                                      },
                                                      "saveDataInVariableId": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["audio"]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "isAutoplayEnabled": {
                                                    "type": "boolean"
                                                  }
                                                }
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "$ref": "#/components/schemas/textInput"
                                          },
                                          {
                                            "$ref": "#/components/schemas/buttonsInputV5"
                                          },
                                          {
                                            "$ref": "#/components/schemas/email"
                                          },
                                          {
                                            "$ref": "#/components/schemas/numberInput"
                                          },
                                          {
                                            "$ref": "#/components/schemas/url"
                                          },
                                          {
                                            "$ref": "#/components/schemas/phoneNumberInput"
                                          },
                                          {
                                            "$ref": "#/components/schemas/dateInput"
                                          },
                                          {
                                            "$ref": "#/components/schemas/paymentInput"
                                          },
                                          {
                                            "$ref": "#/components/schemas/rating"
                                          },
                                          {
                                            "$ref": "#/components/schemas/fileInputV5"
                                          },
                                          {
                                            "$ref": "#/components/schemas/pictureChoiceV5"
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["Code"]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "content": {
                                                    "type": "string"
                                                  },
                                                  "isExecutedOnClient": {
                                                    "type": "boolean"
                                                  },
                                                  "shouldExecuteInParentContext": {
                                                    "type": "boolean"
                                                  }
                                                }
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["Condition"]
                                              },
                                              "items": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "blockId": {
                                                      "type": "string"
                                                    },
                                                    "outgoingEdgeId": {
                                                      "type": "string"
                                                    },
                                                    "content": {
                                                      "type": "object",
                                                      "properties": {
                                                        "logicalOperator": {
                                                          "type": "string",
                                                          "enum": ["OR", "AND"]
                                                        },
                                                        "comparisons": {
                                                          "type": "array",
                                                          "items": {
                                                            "type": "object",
                                                            "properties": {
                                                              "id": {
                                                                "type": "string"
                                                              },
                                                              "variableId": {
                                                                "type": "string"
                                                              },
                                                              "comparisonOperator": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "Equal to",
                                                                  "Not equal",
                                                                  "Contains",
                                                                  "Does not contain",
                                                                  "Greater than",
                                                                  "Less than",
                                                                  "Is set",
                                                                  "Is empty",
                                                                  "Starts with",
                                                                  "Ends with",
                                                                  "Matches regex",
                                                                  "Does not match regex"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              }
                                                            },
                                                            "required": ["id"]
                                                          }
                                                        }
                                                      }
                                                    }
                                                  },
                                                  "required": ["id"]
                                                }
                                              }
                                            },
                                            "required": ["id", "type", "items"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["Redirect"]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "isNewTab": {
                                                    "type": "boolean"
                                                  }
                                                }
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["Set variable"]
                                              },
                                              "options": {
                                                "oneOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "variableId": {
                                                        "type": "string"
                                                      },
                                                      "isExecutedOnClient": {
                                                        "type": "boolean"
                                                      },
                                                      "expressionToEvaluate": {
                                                        "type": "string"
                                                      },
                                                      "isCode": {
                                                        "type": "boolean"
                                                      }
                                                    }
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "variableId": {
                                                        "type": "string"
                                                      },
                                                      "isExecutedOnClient": {
                                                        "type": "boolean"
                                                      },
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "Now",
                                                          "Yesterday",
                                                          "Tomorrow"
                                                        ]
                                                      },
                                                      "timeZone": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": ["type"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "variableId": {
                                                        "type": "string"
                                                      },
                                                      "isExecutedOnClient": {
                                                        "type": "boolean"
                                                      },
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "Today",
                                                          "Moment of the day",
                                                          "Empty",
                                                          "Environment name",
                                                          "User ID",
                                                          "Result ID",
                                                          "Random ID",
                                                          "Phone number",
                                                          "Contact name",
                                                          "Transcript"
                                                        ]
                                                      }
                                                    },
                                                    "required": ["type"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "variableId": {
                                                        "type": "string"
                                                      },
                                                      "isExecutedOnClient": {
                                                        "type": "boolean"
                                                      },
                                                      "type": {
                                                        "type": "string",
                                                        "enum": ["Custom"]
                                                      },
                                                      "expressionToEvaluate": {
                                                        "type": "string"
                                                      },
                                                      "isCode": {
                                                        "type": "boolean"
                                                      }
                                                    },
                                                    "required": ["type"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "variableId": {
                                                        "type": "string"
                                                      },
                                                      "isExecutedOnClient": {
                                                        "type": "boolean"
                                                      },
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "Map item with same index"
                                                        ]
                                                      },
                                                      "mapListItemParams": {
                                                        "type": "object",
                                                        "properties": {
                                                          "baseItemVariableId": {
                                                            "type": "string"
                                                          },
                                                          "baseListVariableId": {
                                                            "type": "string"
                                                          },
                                                          "targetListVariableId": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      }
                                                    },
                                                    "required": ["type"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "variableId": {
                                                        "type": "string"
                                                      },
                                                      "isExecutedOnClient": {
                                                        "type": "boolean"
                                                      },
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "Append value(s)"
                                                        ]
                                                      },
                                                      "item": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": ["type"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "variableId": {
                                                        "type": "string"
                                                      },
                                                      "isExecutedOnClient": {
                                                        "type": "boolean"
                                                      },
                                                      "type": {
                                                        "type": "string",
                                                        "enum": ["Pop", "Shift"]
                                                      },
                                                      "saveItemInVariableId": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": ["type"]
                                                  }
                                                ]
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["Typebot link"]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "typebotId": {
                                                    "type": "string"
                                                  },
                                                  "groupId": {
                                                    "type": "string"
                                                  },
                                                  "mergeResults": {
                                                    "type": "boolean"
                                                  }
                                                }
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["Wait"]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "secondsToWaitFor": {
                                                    "type": "string"
                                                  },
                                                  "shouldPause": {
                                                    "type": "boolean"
                                                  }
                                                }
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["Jump"]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "groupId": {
                                                    "type": "string"
                                                  },
                                                  "blockId": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["AB test"]
                                              },
                                              "items": {
                                                "type": "array",
                                                "maxItems": 2,
                                                "minItems": 2,
                                                "items": {
                                                  "oneOf": [
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "id": {
                                                          "type": "string"
                                                        },
                                                        "blockId": {
                                                          "type": "string"
                                                        },
                                                        "outgoingEdgeId": {
                                                          "type": "string"
                                                        },
                                                        "path": {
                                                          "type": "string",
                                                          "enum": ["a"]
                                                        }
                                                      },
                                                      "required": ["id", "path"]
                                                    },
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "id": {
                                                          "type": "string"
                                                        },
                                                        "blockId": {
                                                          "type": "string"
                                                        },
                                                        "outgoingEdgeId": {
                                                          "type": "string"
                                                        },
                                                        "path": {
                                                          "type": "string",
                                                          "enum": ["b"]
                                                        }
                                                      },
                                                      "required": ["id", "path"]
                                                    }
                                                  ]
                                                }
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "aPercent": {
                                                    "type": "number",
                                                    "minimum": 0,
                                                    "maximum": 100
                                                  }
                                                }
                                              }
                                            },
                                            "required": ["id", "type", "items"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["Chatwoot"]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "task": {
                                                    "type": "string",
                                                    "enum": [
                                                      "Show widget",
                                                      "Close widget"
                                                    ]
                                                  },
                                                  "baseUrl": {
                                                    "type": "string"
                                                  },
                                                  "websiteToken": {
                                                    "type": "string"
                                                  },
                                                  "user": {
                                                    "type": "object",
                                                    "properties": {
                                                      "id": {
                                                        "type": "string"
                                                      },
                                                      "email": {
                                                        "type": "string"
                                                      },
                                                      "name": {
                                                        "type": "string"
                                                      },
                                                      "avatarUrl": {
                                                        "type": "string"
                                                      },
                                                      "phoneNumber": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["Google Analytics"]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "trackingId": {
                                                    "type": "string"
                                                  },
                                                  "category": {
                                                    "type": "string"
                                                  },
                                                  "action": {
                                                    "type": "string"
                                                  },
                                                  "label": {
                                                    "type": "string"
                                                  },
                                                  "value": {
                                                    "anyOf": [
                                                      {
                                                        "type": "number"
                                                      },
                                                      {}
                                                    ]
                                                  },
                                                  "sendTo": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["Google Sheets"]
                                              },
                                              "options": {
                                                "oneOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "credentialsId": {
                                                        "type": "string"
                                                      },
                                                      "sheetId": {
                                                        "type": "string"
                                                      },
                                                      "spreadsheetId": {
                                                        "type": "string"
                                                      },
                                                      "action": {
                                                        "type": "string",
                                                        "enum": [
                                                          "Get data from sheet"
                                                        ]
                                                      },
                                                      "referenceCell": {
                                                        "type": "object",
                                                        "properties": {
                                                          "column": {
                                                            "type": "string"
                                                          },
                                                          "value": {
                                                            "type": "string"
                                                          },
                                                          "id": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "required": ["id"]
                                                      },
                                                      "filter": {
                                                        "type": "object",
                                                        "properties": {
                                                          "comparisons": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "column": {
                                                                  "type": "string"
                                                                },
                                                                "comparisonOperator": {
                                                                  "type": "string",
                                                                  "enum": [
                                                                    "Equal to",
                                                                    "Not equal",
                                                                    "Contains",
                                                                    "Does not contain",
                                                                    "Greater than",
                                                                    "Less than",
                                                                    "Is set",
                                                                    "Is empty",
                                                                    "Starts with",
                                                                    "Ends with",
                                                                    "Matches regex",
                                                                    "Does not match regex"
                                                                  ]
                                                                },
                                                                "value": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": ["id"]
                                                            }
                                                          },
                                                          "logicalOperator": {
                                                            "type": "string",
                                                            "enum": [
                                                              "OR",
                                                              "AND"
                                                            ]
                                                          }
                                                        }
                                                      },
                                                      "cellsToExtract": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "column": {
                                                              "type": "string"
                                                            },
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "variableId": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": ["id"]
                                                        }
                                                      },
                                                      "totalRowsToExtract": {
                                                        "type": "string",
                                                        "enum": [
                                                          "All",
                                                          "First",
                                                          "Last",
                                                          "Random"
                                                        ]
                                                      }
                                                    },
                                                    "required": ["action"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "credentialsId": {
                                                        "type": "string"
                                                      },
                                                      "sheetId": {
                                                        "type": "string"
                                                      },
                                                      "spreadsheetId": {
                                                        "type": "string"
                                                      },
                                                      "action": {
                                                        "type": "string",
                                                        "enum": ["Insert a row"]
                                                      },
                                                      "cellsToInsert": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "column": {
                                                              "type": "string"
                                                            },
                                                            "value": {
                                                              "type": "string"
                                                            },
                                                            "id": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": ["id"]
                                                        }
                                                      }
                                                    },
                                                    "required": ["action"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "credentialsId": {
                                                        "type": "string"
                                                      },
                                                      "sheetId": {
                                                        "type": "string"
                                                      },
                                                      "spreadsheetId": {
                                                        "type": "string"
                                                      },
                                                      "action": {
                                                        "type": "string",
                                                        "enum": ["Update a row"]
                                                      },
                                                      "cellsToUpsert": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "column": {
                                                              "type": "string"
                                                            },
                                                            "value": {
                                                              "type": "string"
                                                            },
                                                            "id": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": ["id"]
                                                        }
                                                      },
                                                      "referenceCell": {
                                                        "type": "object",
                                                        "properties": {
                                                          "column": {
                                                            "type": "string"
                                                          },
                                                          "value": {
                                                            "type": "string"
                                                          },
                                                          "id": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "required": ["id"]
                                                      },
                                                      "filter": {
                                                        "type": "object",
                                                        "properties": {
                                                          "comparisons": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "column": {
                                                                  "type": "string"
                                                                },
                                                                "comparisonOperator": {
                                                                  "type": "string",
                                                                  "enum": [
                                                                    "Equal to",
                                                                    "Not equal",
                                                                    "Contains",
                                                                    "Does not contain",
                                                                    "Greater than",
                                                                    "Less than",
                                                                    "Is set",
                                                                    "Is empty",
                                                                    "Starts with",
                                                                    "Ends with",
                                                                    "Matches regex",
                                                                    "Does not match regex"
                                                                  ]
                                                                },
                                                                "value": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": ["id"]
                                                            }
                                                          },
                                                          "logicalOperator": {
                                                            "type": "string",
                                                            "enum": [
                                                              "OR",
                                                              "AND"
                                                            ]
                                                          }
                                                        }
                                                      }
                                                    },
                                                    "required": ["action"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "credentialsId": {
                                                        "type": "string"
                                                      },
                                                      "sheetId": {
                                                        "type": "string"
                                                      },
                                                      "spreadsheetId": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  }
                                                ]
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["Make.com"]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variablesForTest": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object",
                                                      "properties": {
                                                        "id": {
                                                          "type": "string"
                                                        },
                                                        "variableId": {
                                                          "type": "string"
                                                        },
                                                        "value": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "required": ["id"]
                                                    }
                                                  },
                                                  "responseVariableMapping": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object",
                                                      "properties": {
                                                        "id": {
                                                          "type": "string"
                                                        },
                                                        "variableId": {
                                                          "type": "string"
                                                        },
                                                        "bodyPath": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "required": ["id"]
                                                    }
                                                  },
                                                  "isAdvancedConfig": {
                                                    "type": "boolean"
                                                  },
                                                  "isCustomBody": {
                                                    "type": "boolean"
                                                  },
                                                  "isExecutedOnClient": {
                                                    "type": "boolean"
                                                  },
                                                  "webhook": {
                                                    "type": "object",
                                                    "properties": {
                                                      "id": {
                                                        "type": "string"
                                                      },
                                                      "queryParams": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "key": {
                                                              "type": "string"
                                                            },
                                                            "value": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": ["id"]
                                                        }
                                                      },
                                                      "headers": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "key": {
                                                              "type": "string"
                                                            },
                                                            "value": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": ["id"]
                                                        }
                                                      },
                                                      "method": {
                                                        "type": "string",
                                                        "enum": [
                                                          "POST",
                                                          "GET",
                                                          "PUT",
                                                          "DELETE",
                                                          "PATCH",
                                                          "HEAD",
                                                          "CONNECT",
                                                          "OPTIONS",
                                                          "TRACE"
                                                        ]
                                                      },
                                                      "url": {
                                                        "type": "string"
                                                      },
                                                      "body": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": ["id"]
                                                  },
                                                  "timeout": {
                                                    "type": "number",
                                                    "minimum": 1,
                                                    "maximum": 120
                                                  }
                                                }
                                              },
                                              "webhookId": {
                                                "type": "string"
                                              }
                                            },
                                            "required": ["id", "type"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": ["OpenAI"]
                                              },
                                              "options": {
                                                "oneOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "credentialsId": {
                                                        "type": "string"
                                                      },
                                                      "baseUrl": {
                                                        "type": "string"
                                                      },
                                                      "apiVersion": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "task": {
                                                        "type": "string",
                                                        "enum": [
                                                          "Create chat completion"
                                                        ]
                                                      },
                                                      "model": {
                                                        "type": "string"
                                                      },
                                                      "messages": {
                                                        "type": "array",
                                                        "items": {
                                                          "anyOf": [
                                                            {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "role": {
                                                                  "type": "string",
                                                                  "enum": [
                                                                    "system",
                                                                    "user",
                                                                    "assistant"
                                                                  ]
                                                                },
                                                                "content": {
                                                                  "type": "string"
                                                                },
                                                                "name": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": ["id"]
                                                            },
                                                            {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "role": {
                                                                  "type": "string",
                                                                  "enum": [
                                                                    "Messages sequence ✨"
                                                                  ]
                                                                },
                                                                "content": {
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "assistantMessagesVariableId": {
                                                                      "type": "string"
                                                                    },
                                                                    "userMessagesVariableId": {
                                                                      "type": "string"
                                                                    }
                                                                  }
                                                                }
                                                              },
                                                              "required": [
                                                                "id",
                                                                "role"
                                                              ]
                                                            },
                                                            {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "role": {
                                                                  "type": "string",
                                                                  "enum": [
                                                                    "Dialogue"
                                                                  ]
                                                                },
                                                                "dialogueVariableId": {
                                                                  "type": "string"
                                                                },
                                                                "startsBy": {
                                                                  "type": "string",
                                                                  "enum": [
                                                                    "user",
                                                                    "assistant"
                                                                  ]
                                                                }
                                                              },
                                                              "required": [
                                                                "id",
                                                                "role"
                                                              ]
                                                            }
                                                          ]
                                                        }
                                                      },
                                                      "advancedSettings": {
                                                        "type": "object",
                                                        "properties": {
                                                          "temperature": {
                                                            "anyOf": [
                                                              {
                                                                "type": "number"
                                                              },
                                                              {}
                                                            ]
                                                          }
                                                        }
                                                      },
                                                      "responseMapping": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "valueToExtract": {
                                                              "type": "string",
                                                              "enum": [
                                                                "Message content",
                                                                "Total tokens"
                                                              ]
                                                            },
                                                            "variableId": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": [
                                                            "id",
                                                            "valueToExtract"
                                                          ]
                                                        }
                                                      },
                                                      "credentialsId": {
                                                        "type": "string"
                                                      },
                                                      "baseUrl": {
                                                        "type": "string"
                                                      },
                                                      "apiVersion": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": ["task"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "task": {
                                                        "type": "string",
                                                        "enum": ["Create image"]
                                                      },
                                                      "prompt": {
                                                        "type": "string"
                                                      },
                                                      "advancedOptions": {
                                                        "type": "object",
                                                        "properties": {
                                                          "size": {
                                                            "type": "string",
                                                            "enum": [
                                                              "256x256",
                                                              "512x512",
                                                              "1024x1024"
                                                            ]
                                                          }
                                                        }
                                                      },
                                                      "responseMapping": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "valueToExtract": {
                                                              "type": "string",
                                                              "enum": [
                                                                "Image URL"
                                                              ]
                                                            },
                                                            "variableId": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": [
                                                            "id",
                                                            "valueToExtract"
                                                          ]
                                                        }
                                                      },
                                                      "credentialsId": {
                                                        "type": "string"
                                                      },
                                                      "baseUrl": {
                                                        "type": "string"
                                                      },
                                                      "apiVersion": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "task",
                                                      "advancedOptions",
                                                      "responseMapping"
                                                    ]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "credentialsId": {
                                                        "type": "string"
                                                      },
                                                      "baseUrl": {
                                                        "type": "string"
                                                      },
                                                      "apiVersion": {
                                                        "type": "string"
                                                      },
                                                      "task": {
                                                        "type": "string",
                                                        "enum": [
                                                          "Create speech"
                                                        ]
                                                      },
[...]
