{
  "openapi": "3.0.3",
  "info": {
    "title": "Chat API",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://typebot.io/api"
    }
  ],
  "externalDocs": {
    "url": "https://docs.typebot.io/api-reference"
  },
  "paths": {
    "/v1/sendMessage": {
      "post": {
        "operationId": "sendMessageV1",
        "summary": "Send a message",
        "description": "To initiate a chat, do not provide a `sessionId` nor a `message`.\n\nContinue the conversation by providing the `sessionId` and the `message` that should answer the previous question.\n\nSet the `isPreview` option to `true` to chat with the non-published version of the typebot.",
        "tags": [
          "Deprecated"
        ],
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "The answer to the previous chat input. Do not provide it if you are starting a new chat."
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Session ID that you get from the initial chat request to a bot. If not provided, it will create a new session."
                  },
                  "startParams": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "typebot": {
                            "anyOf": [
                              {
                                "oneOf": [
                                  {
                                    "$ref": "#/components/schemas/typebotV6"
                                  },
                                  {
                                    "$ref": "#/components/schemas/typebotV5"
                                  }
                                ],
                                "discriminator": {
                                  "propertyName": "version",
                                  "mapping": {
                                    "3": "#/components/schemas/typebotV5",
                                    "4": "#/components/schemas/typebotV5",
                                    "5": "#/components/schemas/typebotV5",
                                    "6": "#/components/schemas/typebotV6"
                                  }
                                }
                              },
                              {
                                "type": "string"
                              }
                            ],
                            "description": "Either a Typebot ID or a Typebot object. If you provide a Typebot object, it will be executed in preview mode. ([How can I find my typebot ID?](https://docs.typebot.io/api-reference#how-to-find-my-typebotid))."
                          },
                          "isPreview": {
                            "type": "boolean",
                            "description": "If set to `true`, it will start a Preview session with the unpublished bot and it won't be saved in the Results tab. You need to be authenticated with a bearer token for this to work."
                          },
                          "resultId": {
                            "type": "string",
                            "description": "Provide it if you'd like to overwrite an existing result."
                          },
                          "prefilledVariables": {
                            "type": "object",
                            "additionalProperties": {},
                            "description": "[More info about prefilled variables.](https://docs.typebot.io/editor/variables#prefilled-variables)"
                          },
                          "isStreamEnabled": {
                            "type": "boolean",
                            "description": "Set this to `true` if you intend to stream OpenAI completions on a client."
                          },
                          "isOnlyRegistering": {
                            "type": "boolean",
                            "description": "If set to `true`, it will only register the session and not start the chat. This is used for other chat platform integration as it can require a session to be registered before sending the first message."
                          }
                        },
                        "required": [
                          "typebot"
                        ]
                      },
                      {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "startGroupId": {
                                "type": "string",
                                "description": "Start chat from a specific group."
                              },
                              "startEventId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "startGroupId"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "startEventId": {
                                "type": "string",
                                "description": "Start chat from a specific event."
                              },
                              "startGroupId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "startEventId"
                            ]
                          },
                          {
                            "type": "object"
                          }
                        ]
                      }
                    ]
                  },
                  "clientLogs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "details": {}
                      },
                      "required": [
                        "status",
                        "description"
                      ]
                    },
                    "description": "Logs while executing client side actions"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/textMessage"
                              },
                              {
                                "$ref": "#/components/schemas/imageMessage"
                              },
                              {
                                "$ref": "#/components/schemas/videoMessage"
                              },
                              {
                                "$ref": "#/components/schemas/audioMessage"
                              },
                              {
                                "$ref": "#/components/schemas/embedMessage"
                              },
                              {
                                "$ref": "#/components/schemas/customEmbedMessage"
                              }
                            ],
                            "discriminator": {
                              "propertyName": "type",
                              "mapping": {
                                "text": "#/components/schemas/textMessage",
                                "image": "#/components/schemas/imageMessage",
                                "video": "#/components/schemas/videoMessage",
                                "audio": "#/components/schemas/audioMessage",
                                "embed": "#/components/schemas/embedMessage",
                                "custom-embed": "#/components/schemas/customEmbedMessage"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "input": {
                      "allOf": [
                        {
                          "anyOf": [
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/textInput"
                                },
                                {
                                  "$ref": "#/components/schemas/email"
                                },
                                {
                                  "$ref": "#/components/schemas/numberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/url"
                                },
                                {
                                  "$ref": "#/components/schemas/phoneNumberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/dateInput"
                                },
                                {
                                  "$ref": "#/components/schemas/paymentInput"
                                },
                                {
                                  "$ref": "#/components/schemas/rating"
                                },
                                {
                                  "$ref": "#/components/schemas/buttonsInputV5"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInputV5"
                                },
                                {
                                  "$ref": "#/components/schemas/pictureChoiceV5"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "text input": "#/components/schemas/textInput",
                                  "email input": "#/components/schemas/email",
                                  "number input": "#/components/schemas/numberInput",
                                  "url input": "#/components/schemas/url",
                                  "phone number input": "#/components/schemas/phoneNumberInput",
                                  "date input": "#/components/schemas/dateInput",
                                  "payment input": "#/components/schemas/paymentInput",
                                  "rating input": "#/components/schemas/rating",
                                  "choice input": "#/components/schemas/buttonsInputV5",
                                  "file input": "#/components/schemas/fileInputV5",
                                  "picture choice input": "#/components/schemas/pictureChoiceV5"
                                }
                              }
                            },
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/textInput"
                                },
                                {
                                  "$ref": "#/components/schemas/email"
                                },
                                {
                                  "$ref": "#/components/schemas/numberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/url"
                                },
                                {
                                  "$ref": "#/components/schemas/phoneNumberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/dateInput"
                                },
                                {
                                  "$ref": "#/components/schemas/paymentInput"
                                },
                                {
                                  "$ref": "#/components/schemas/rating"
                                },
                                {
                                  "$ref": "#/components/schemas/buttonsInput"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInput"
                                },
                                {
                                  "$ref": "#/components/schemas/pictureChoice"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "text input": "#/components/schemas/textInput",
                                  "email input": "#/components/schemas/email",
                                  "number input": "#/components/schemas/numberInput",
                                  "url input": "#/components/schemas/url",
                                  "phone number input": "#/components/schemas/phoneNumberInput",
                                  "date input": "#/components/schemas/dateInput",
                                  "payment input": "#/components/schemas/paymentInput",
                                  "rating input": "#/components/schemas/rating",
                                  "choice input": "#/components/schemas/buttonsInput",
                                  "file input": "#/components/schemas/fileInput",
                                  "picture choice input": "#/components/schemas/pictureChoice"
                                }
                              }
                            }
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "prefilledValue": {
                              "type": "string"
                            },
                            "runtimeOptions": {
                              "type": "object",
                              "properties": {
                                "paymentIntentSecret": {
                                  "type": "string"
                                },
                                "amountLabel": {
                                  "type": "string"
                                },
                                "publicKey": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "paymentIntentSecret",
                                "amountLabel",
                                "publicKey"
                              ]
                            }
                          }
                        }
                      ]
                    },
                    "clientSideActions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/csaScriptToExecute"
                          },
                          {
                            "$ref": "#/components/schemas/csaRedirect"
                          },
                          {
                            "$ref": "#/components/schemas/csaChatwoot"
                          },
                          {
                            "$ref": "#/components/schemas/csaGa"
                          },
                          {
                            "$ref": "#/components/schemas/csaWait"
                          },
                          {
                            "$ref": "#/components/schemas/csaSetVariable"
                          },
                          {
                            "$ref": "#/components/schemas/csaStreamOpenAiChatCompletion"
                          },
                          {
                            "$ref": "#/components/schemas/csaExecWebhook"
                          },
                          {
                            "$ref": "#/components/schemas/csaInjectStartProps"
                          },
                          {
                            "$ref": "#/components/schemas/csaPixel"
                          },
                          {
                            "$ref": "#/components/schemas/csaStream"
                          },
                          {
                            "$ref": "#/components/schemas/csaCodeToExecute"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "type",
                          "mapping": {
                            "scriptToExecute": "#/components/schemas/csaScriptToExecute",
                            "redirect": "#/components/schemas/csaRedirect",
                            "chatwoot": "#/components/schemas/csaChatwoot",
                            "googleAnalytics": "#/components/schemas/csaGa",
                            "wait": "#/components/schemas/csaWait",
                            "setVariable": "#/components/schemas/csaSetVariable",
                            "streamOpenAiChatCompletion": "#/components/schemas/csaStreamOpenAiChatCompletion",
                            "webhookToExecute": "#/components/schemas/csaExecWebhook",
                            "startPropsToInject": "#/components/schemas/csaInjectStartProps",
                            "pixel": "#/components/schemas/csaPixel",
                            "stream": "#/components/schemas/csaStream",
                            "codeToExecute": "#/components/schemas/csaCodeToExecute"
                          }
                        }
                      }
                    },
                    "sessionId": {
                      "type": "string"
                    },
                    "typebot": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "theme": {
                          "anyOf": [
                            {
                              "$ref": "#/components/schemas/theme"
                            },
                            {
                              "$ref": "#/components/schemas/theme"
                            }
                          ]
                        },
                        "settings": {
                          "anyOf": [
                            {
                              "$ref": "#/components/schemas/settings"
                            },
                            {
                              "$ref": "#/components/schemas/settings"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "theme",
                        "settings"
                      ]
                    },
                    "resultId": {
                      "type": "string"
                    },
                    "dynamicTheme": {
                      "type": "object",
                      "properties": {
                        "hostAvatarUrl": {
                          "type": "string"
                        },
                        "guestAvatarUrl": {
                          "type": "string"
                        }
                      }
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "details": {}
                        },
                        "required": [
                          "status",
                          "description"
                        ]
                      }
                    },
                    "lastMessageNewFormat": {
                      "type": "string",
                      "description": "The sent message is validated and formatted on the backend. This is set only if the message differs from the formatted version."
                    }
                  },
                  "required": [
                    "messages"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v2/sendMessage": {
      "post": {
        "operationId": "sendMessageV2",
        "summary": "Send a message",
        "description": "To initiate a chat, do not provide a `sessionId` nor a `message`.\n\nContinue the conversation by providing the `sessionId` and the `message` that should answer the previous question.\n\nSet the `isPreview` option to `true` to chat with the non-published version of the typebot.",
        "tags": [
          "Deprecated"
        ],
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "The answer to the previous chat input. Do not provide it if you are starting a new chat."
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Session ID that you get from the initial chat request to a bot. If not provided, it will create a new session."
                  },
                  "startParams": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "typebot": {
                            "anyOf": [
                              {
                                "oneOf": [
                                  {
                                    "$ref": "#/components/schemas/typebotV6"
                                  },
                                  {
                                    "$ref": "#/components/schemas/typebotV5"
                                  }
                                ],
                                "discriminator": {
                                  "propertyName": "version",
                                  "mapping": {
                                    "3": "#/components/schemas/typebotV5",
                                    "4": "#/components/schemas/typebotV5",
                                    "5": "#/components/schemas/typebotV5",
                                    "6": "#/components/schemas/typebotV6"
                                  }
                                }
                              },
                              {
                                "type": "string"
                              }
                            ],
                            "description": "Either a Typebot ID or a Typebot object. If you provide a Typebot object, it will be executed in preview mode. ([How can I find my typebot ID?](https://docs.typebot.io/api-reference#how-to-find-my-typebotid))."
                          },
                          "isPreview": {
                            "type": "boolean",
                            "description": "If set to `true`, it will start a Preview session with the unpublished bot and it won't be saved in the Results tab. You need to be authenticated with a bearer token for this to work."
                          },
                          "resultId": {
                            "type": "string",
                            "description": "Provide it if you'd like to overwrite an existing result."
                          },
                          "prefilledVariables": {
                            "type": "object",
                            "additionalProperties": {},
                            "description": "[More info about prefilled variables.](https://docs.typebot.io/editor/variables#prefilled-variables)"
                          },
                          "isStreamEnabled": {
                            "type": "boolean",
                            "description": "Set this to `true` if you intend to stream OpenAI completions on a client."
                          },
                          "isOnlyRegistering": {
                            "type": "boolean",
                            "description": "If set to `true`, it will only register the session and not start the chat. This is used for other chat platform integration as it can require a session to be registered before sending the first message."
                          }
                        },
                        "required": [
                          "typebot"
                        ]
                      },
                      {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "startGroupId": {
                                "type": "string",
                                "description": "Start chat from a specific group."
                              },
                              "startEventId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "startGroupId"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "startEventId": {
                                "type": "string",
                                "description": "Start chat from a specific event."
                              },
                              "startGroupId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "startEventId"
                            ]
                          },
                          {
                            "type": "object"
                          }
                        ]
                      }
                    ]
                  },
                  "clientLogs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "details": {}
                      },
                      "required": [
                        "status",
                        "description"
                      ]
                    },
                    "description": "Logs while executing client side actions"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/textMessage"
                              },
                              {
                                "$ref": "#/components/schemas/imageMessage"
                              },
                              {
                                "$ref": "#/components/schemas/videoMessage"
                              },
                              {
                                "$ref": "#/components/schemas/audioMessage"
                              },
                              {
                                "$ref": "#/components/schemas/embedMessage"
                              },
                              {
                                "$ref": "#/components/schemas/customEmbedMessage"
                              }
                            ],
                            "discriminator": {
                              "propertyName": "type",
                              "mapping": {
                                "text": "#/components/schemas/textMessage",
                                "image": "#/components/schemas/imageMessage",
                                "video": "#/components/schemas/videoMessage",
                                "audio": "#/components/schemas/audioMessage",
                                "embed": "#/components/schemas/embedMessage",
                                "custom-embed": "#/components/schemas/customEmbedMessage"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "input": {
                      "allOf": [
                        {
                          "anyOf": [
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/textInput"
                                },
                                {
                                  "$ref": "#/components/schemas/email"
                                },
                                {
                                  "$ref": "#/components/schemas/numberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/url"
                                },
                                {
                                  "$ref": "#/components/schemas/phoneNumberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/dateInput"
                                },
                                {
                                  "$ref": "#/components/schemas/paymentInput"
                                },
                                {
                                  "$ref": "#/components/schemas/rating"
                                },
                                {
                                  "$ref": "#/components/schemas/buttonsInputV5"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInputV5"
                                },
                                {
                                  "$ref": "#/components/schemas/pictureChoiceV5"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "text input": "#/components/schemas/textInput",
                                  "email input": "#/components/schemas/email",
                                  "number input": "#/components/schemas/numberInput",
                                  "url input": "#/components/schemas/url",
                                  "phone number input": "#/components/schemas/phoneNumberInput",
                                  "date input": "#/components/schemas/dateInput",
                                  "payment input": "#/components/schemas/paymentInput",
                                  "rating input": "#/components/schemas/rating",
                                  "choice input": "#/components/schemas/buttonsInputV5",
                                  "file input": "#/components/schemas/fileInputV5",
                                  "picture choice input": "#/components/schemas/pictureChoiceV5"
                                }
                              }
                            },
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/textInput"
                                },
                                {
                                  "$ref": "#/components/schemas/email"
                                },
                                {
                                  "$ref": "#/components/schemas/numberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/url"
                                },
                                {
                                  "$ref": "#/components/schemas/phoneNumberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/dateInput"
                                },
                                {
                                  "$ref": "#/components/schemas/paymentInput"
                                },
                                {
                                  "$ref": "#/components/schemas/rating"
                                },
                                {
                                  "$ref": "#/components/schemas/buttonsInput"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInput"
                                },
                                {
                                  "$ref": "#/components/schemas/pictureChoice"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "text input": "#/components/schemas/textInput",
                                  "email input": "#/components/schemas/email",
                                  "number input": "#/components/schemas/numberInput",
                                  "url input": "#/components/schemas/url",
                                  "phone number input": "#/components/schemas/phoneNumberInput",
                                  "date input": "#/components/schemas/dateInput",
                                  "payment input": "#/components/schemas/paymentInput",
                                  "rating input": "#/components/schemas/rating",
                                  "choice input": "#/components/schemas/buttonsInput",
                                  "file input": "#/components/schemas/fileInput",
                                  "picture choice input": "#/components/schemas/pictureChoice"
                                }
                              }
                            }
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "prefilledValue": {
                              "type": "string"
                            },
                            "runtimeOptions": {
                              "type": "object",
                              "properties": {
                                "paymentIntentSecret": {
                                  "type": "string"
                                },
                                "amountLabel": {
                                  "type": "string"
                                },
                                "publicKey": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "paymentIntentSecret",
                                "amountLabel",
                                "publicKey"
                              ]
                            }
                          }
                        }
                      ]
                    },
                    "clientSideActions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/csaScriptToExecute"
                          },
                          {
                            "$ref": "#/components/schemas/csaRedirect"
                          },
                          {
                            "$ref": "#/components/schemas/csaChatwoot"
                          },
                          {
                            "$ref": "#/components/schemas/csaGa"
                          },
                          {
                            "$ref": "#/components/schemas/csaWait"
                          },
                          {
                            "$ref": "#/components/schemas/csaSetVariable"
                          },
                          {
                            "$ref": "#/components/schemas/csaStreamOpenAiChatCompletion"
                          },
                          {
                            "$ref": "#/components/schemas/csaExecWebhook"
                          },
                          {
                            "$ref": "#/components/schemas/csaInjectStartProps"
                          },
                          {
                            "$ref": "#/components/schemas/csaPixel"
                          },
                          {
                            "$ref": "#/components/schemas/csaStream"
                          },
                          {
                            "$ref": "#/components/schemas/csaCodeToExecute"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "type",
                          "mapping": {
                            "scriptToExecute": "#/components/schemas/csaScriptToExecute",
                            "redirect": "#/components/schemas/csaRedirect",
                            "chatwoot": "#/components/schemas/csaChatwoot",
                            "googleAnalytics": "#/components/schemas/csaGa",
                            "wait": "#/components/schemas/csaWait",
                            "setVariable": "#/components/schemas/csaSetVariable",
                            "streamOpenAiChatCompletion": "#/components/schemas/csaStreamOpenAiChatCompletion",
                            "webhookToExecute": "#/components/schemas/csaExecWebhook",
                            "startPropsToInject": "#/components/schemas/csaInjectStartProps",
                            "pixel": "#/components/schemas/csaPixel",
                            "stream": "#/components/schemas/csaStream",
                            "codeToExecute": "#/components/schemas/csaCodeToExecute"
                          }
                        }
                      }
                    },
                    "sessionId": {
                      "type": "string"
                    },
                    "typebot": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "theme": {
                          "anyOf": [
                            {
                              "$ref": "#/components/schemas/theme"
                            },
                            {
                              "$ref": "#/components/schemas/theme"
                            }
                          ]
                        },
                        "settings": {
                          "anyOf": [
                            {
                              "$ref": "#/components/schemas/settings"
                            },
                            {
                              "$ref": "#/components/schemas/settings"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "theme",
                        "settings"
                      ]
                    },
                    "resultId": {
                      "type": "string"
                    },
                    "dynamicTheme": {
                      "type": "object",
                      "properties": {
                        "hostAvatarUrl": {
                          "type": "string"
                        },
                        "guestAvatarUrl": {
                          "type": "string"
                        }
                      }
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "details": {}
                        },
                        "required": [
                          "status",
                          "description"
                        ]
                      }
                    },
                    "lastMessageNewFormat": {
                      "type": "string",
                      "description": "The sent message is validated and formatted on the backend. This is set only if the message differs from the formatted version."
                    }
                  },
                  "required": [
                    "messages"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/typebots/{publicId}/startChat": {
      "post": {
        "operationId": "startChat",
        "summary": "Start chat",
        "parameters": [
          {
            "in": "path",
            "name": "publicId",
            "description": "[Where to find my bot's public ID?](../how-to#how-to-find-my-publicid)",
            "schema": {
              "type": "string",
              "description": "[Where to find my bot's public ID?](../how-to#how-to-find-my-publicid)"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/textSentMessage"
                      },
                      {
                        "$ref": "#/components/schemas/audioSentMessage"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "type",
                      "mapping": {
                        "text": "#/components/schemas/textSentMessage",
                        "audio": "#/components/schemas/audioSentMessage"
                      }
                    },
                    "description": "Only provide it if your flow starts with an input block and you'd like to directly provide an answer to it."
                  },
                  "isStreamEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "If enabled, you will be required to stream OpenAI completions on a client and send the generated response back to the API."
                  },
                  "resultId": {
                    "type": "string",
                    "description": "Provide it if you'd like to overwrite an existing result."
                  },
                  "isOnlyRegistering": {
                    "type": "boolean",
                    "default": false,
                    "description": "If set to `true`, it will only register the session and not start the bot. This is used for 3rd party chat platforms as it can require a session to be registered before sending the first message."
                  },
                  "prefilledVariables": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "[More info about prefilled variables.](../../editor/variables#prefilled-variables)",
                    "example": {
                      "First name": "John",
                      "Email": "john@gmail.com"
                    }
                  },
                  "textBubbleContentFormat": {
                    "type": "string",
                    "enum": [
                      "richText",
                      "markdown"
                    ],
                    "default": "richText"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "To save and use for /continueChat requests."
                    },
                    "resultId": {
                      "type": "string"
                    },
                    "typebot": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "theme": {
                          "$ref": "#/components/schemas/theme"
                        },
                        "settings": {
                          "$ref": "#/components/schemas/settings"
                        },
                        "publishedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "theme",
                        "settings"
                      ]
                    },
                    "lastMessageNewFormat": {
                      "type": "string",
                      "description": "The sent message is validated and formatted on the backend. For example, if for a date input you replied something like `tomorrow`, the backend will convert it to a date string. This field returns the formatted message."
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/textMessage"
                              },
                              {
                                "$ref": "#/components/schemas/imageMessage"
                              },
                              {
                                "$ref": "#/components/schemas/videoMessage"
                              },
                              {
                                "$ref": "#/components/schemas/audioMessage"
                              },
                              {
                                "$ref": "#/components/schemas/embedMessage"
                              },
                              {
                                "$ref": "#/components/schemas/customEmbedMessage"
                              }
                            ],
                            "discriminator": {
                              "propertyName": "type",
                              "mapping": {
                                "text": "#/components/schemas/textMessage",
                                "image": "#/components/schemas/imageMessage",
                                "video": "#/components/schemas/videoMessage",
                                "audio": "#/components/schemas/audioMessage",
                                "embed": "#/components/schemas/embedMessage",
                                "custom-embed": "#/components/schemas/customEmbedMessage"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "input": {
                      "allOf": [
                        {
                          "anyOf": [
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/textInput"
                                },
                                {
                                  "$ref": "#/components/schemas/buttonsInput"
                                },
                                {
                                  "$ref": "#/components/schemas/email"
                                },
                                {
                                  "$ref": "#/components/schemas/numberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/url"
                                },
                                {
                                  "$ref": "#/components/schemas/phoneNumberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/dateInput"
                                },
                                {
                                  "$ref": "#/components/schemas/paymentInput"
                                },
                                {
                                  "$ref": "#/components/schemas/rating"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInput"
                                },
                                {
                                  "$ref": "#/components/schemas/pictureChoice"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "text input": "#/components/schemas/textInput",
                                  "choice input": "#/components/schemas/buttonsInput",
                                  "email input": "#/components/schemas/email",
                                  "number input": "#/components/schemas/numberInput",
                                  "url input": "#/components/schemas/url",
                                  "phone number input": "#/components/schemas/phoneNumberInput",
                                  "date input": "#/components/schemas/dateInput",
                                  "payment input": "#/components/schemas/paymentInput",
                                  "rating input": "#/components/schemas/rating",
                                  "file input": "#/components/schemas/fileInput",
                                  "picture choice input": "#/components/schemas/pictureChoice"
                                }
                              }
                            },
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/buttonsInputV5"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInputV5"
                                },
                                {
                                  "$ref": "#/components/schemas/pictureChoiceV5"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "choice input": "#/components/schemas/buttonsInputV5",
                                  "file input": "#/components/schemas/fileInputV5",
                                  "picture choice input": "#/components/schemas/pictureChoiceV5"
                                }
                              }
                            }
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "prefilledValue": {
                              "type": "string"
                            },
                            "runtimeOptions": {
                              "type": "object",
                              "properties": {
                                "paymentIntentSecret": {
                                  "type": "string"
                                },
                                "amountLabel": {
                                  "type": "string"
                                },
                                "publicKey": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "paymentIntentSecret",
                                "amountLabel",
                                "publicKey"
                              ]
                            }
                          }
                        }
                      ]
                    },
                    "clientSideActions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/csaScriptToExecute"
                          },
                          {
                            "$ref": "#/components/schemas/csaRedirect"
                          },
                          {
                            "$ref": "#/components/schemas/csaChatwoot"
                          },
                          {
                            "$ref": "#/components/schemas/csaGa"
                          },
                          {
                            "$ref": "#/components/schemas/csaWait"
                          },
                          {
                            "$ref": "#/components/schemas/csaSetVariable"
                          },
                          {
                            "$ref": "#/components/schemas/csaStreamOpenAiChatCompletion"
                          },
                          {
                            "$ref": "#/components/schemas/csaExecWebhook"
                          },
                          {
                            "$ref": "#/components/schemas/csaInjectStartProps"
                          },
                          {
                            "$ref": "#/components/schemas/csaPixel"
                          },
                          {
                            "$ref": "#/components/schemas/csaStream"
                          },
                          {
                            "$ref": "#/components/schemas/csaCodeToExecute"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "type",
                          "mapping": {
                            "scriptToExecute": "#/components/schemas/csaScriptToExecute",
                            "redirect": "#/components/schemas/csaRedirect",
                            "chatwoot": "#/components/schemas/csaChatwoot",
                            "googleAnalytics": "#/components/schemas/csaGa",
                            "wait": "#/components/schemas/csaWait",
                            "setVariable": "#/components/schemas/csaSetVariable",
                            "streamOpenAiChatCompletion": "#/components/schemas/csaStreamOpenAiChatCompletion",
                            "webhookToExecute": "#/components/schemas/csaExecWebhook",
                            "startPropsToInject": "#/components/schemas/csaInjectStartProps",
                            "pixel": "#/components/schemas/csaPixel",
                            "stream": "#/components/schemas/csaStream",
                            "codeToExecute": "#/components/schemas/csaCodeToExecute"
                          }
                        }
                      },
                      "description": "Actions to execute on the client side"
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "details": {}
                        },
                        "required": [
                          "status",
                          "description"
                        ]
                      },
                      "description": "Logs that were saved during the last execution"
                    },
                    "dynamicTheme": {
                      "type": "object",
                      "properties": {
                        "hostAvatarUrl": {
                          "type": "string"
                        },
                        "guestAvatarUrl": {
                          "type": "string"
                        }
                      },
                      "description": "If the typebot contains dynamic avatars, dynamicTheme returns the new avatar URLs whenever their variables are updated."
                    },
                    "progress": {
                      "type": "number",
                      "description": "If progress bar is enabled, this field will return a number between 0 and 100 indicating the current progress based on the longest remaining path of the flow."
                    }
                  },
                  "required": [
                    "sessionId",
                    "typebot",
                    "messages"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{sessionId}/continueChat": {
      "post": {
        "operationId": "continueChat",
        "summary": "Continue chat",
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "description": "The session ID you got from the [startChat](./start-chat) response.",
            "schema": {
              "type": "string",
              "description": "The session ID you got from the [startChat](./start-chat) response."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/textSentMessage"
                      },
                      {
                        "$ref": "#/components/schemas/audioSentMessage"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "type",
                      "mapping": {
                        "text": "#/components/schemas/textSentMessage",
                        "audio": "#/components/schemas/audioSentMessage"
                      }
                    }
                  },
                  "textBubbleContentFormat": {
                    "type": "string",
                    "enum": [
                      "richText",
                      "markdown"
                    ],
                    "default": "richText"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lastMessageNewFormat": {
                      "type": "string",
                      "description": "The sent message is validated and formatted on the backend. For example, if for a date input you replied something like `tomorrow`, the backend will convert it to a date string. This field returns the formatted message."
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/textMessage"
                              },
                              {
                                "$ref": "#/components/schemas/imageMessage"
                              },
                              {
                                "$ref": "#/components/schemas/videoMessage"
                              },
                              {
                                "$ref": "#/components/schemas/audioMessage"
                              },
                              {
                                "$ref": "#/components/schemas/embedMessage"
                              },
                              {
                                "$ref": "#/components/schemas/customEmbedMessage"
                              }
                            ],
                            "discriminator": {
                              "propertyName": "type",
                              "mapping": {
                                "text": "#/components/schemas/textMessage",
                                "image": "#/components/schemas/imageMessage",
                                "video": "#/components/schemas/videoMessage",
                                "audio": "#/components/schemas/audioMessage",
                                "embed": "#/components/schemas/embedMessage",
                                "custom-embed": "#/components/schemas/customEmbedMessage"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "input": {
                      "allOf": [
                        {
                          "anyOf": [
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/textInput"
                                },
                                {
                                  "$ref": "#/components/schemas/buttonsInput"
                                },
                                {
                                  "$ref": "#/components/schemas/email"
                                },
                                {
                                  "$ref": "#/components/schemas/numberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/url"
                                },
                                {
                                  "$ref": "#/components/schemas/phoneNumberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/dateInput"
                                },
                                {
                                  "$ref": "#/components/schemas/paymentInput"
                                },
                                {
                                  "$ref": "#/components/schemas/rating"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInput"
                                },
                                {
                                  "$ref": "#/components/schemas/pictureChoice"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "text input": "#/components/schemas/textInput",
                                  "choice input": "#/components/schemas/buttonsInput",
                                  "email input": "#/components/schemas/email",
                                  "number input": "#/components/schemas/numberInput",
                                  "url input": "#/components/schemas/url",
                                  "phone number input": "#/components/schemas/phoneNumberInput",
                                  "date input": "#/components/schemas/dateInput",
                                  "payment input": "#/components/schemas/paymentInput",
                                  "rating input": "#/components/schemas/rating",
                                  "file input": "#/components/schemas/fileInput",
                                  "picture choice input": "#/components/schemas/pictureChoice"
                                }
                              }
                            },
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/buttonsInputV5"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInputV5"
                                },
                                {
                                  "$ref": "#/components/schemas/pictureChoiceV5"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "choice input": "#/components/schemas/buttonsInputV5",
                                  "file input": "#/components/schemas/fileInputV5",
                                  "picture choice input": "#/components/schemas/pictureChoiceV5"
                                }
                              }
                            }
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "prefilledValue": {
                              "type": "string"
                            },
                            "runtimeOptions": {
                              "type": "object",
                              "properties": {
                                "paymentIntentSecret": {
                                  "type": "string"
                                },
                                "amountLabel": {
                                  "type": "string"
                                },
                                "publicKey": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "paymentIntentSecret",
                                "amountLabel",
                                "publicKey"
                              ]
                            }
                          }
                        }
                      ]
                    },
                    "clientSideActions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/csaScriptToExecute"
                          },
                          {
                            "$ref": "#/components/schemas/csaRedirect"
                          },
                          {
                            "$ref": "#/components/schemas/csaChatwoot"
                          },
                          {
                            "$ref": "#/components/schemas/csaGa"
                          },
                          {
                            "$ref": "#/components/schemas/csaWait"
                          },
                          {
                            "$ref": "#/components/schemas/csaSetVariable"
                          },
                          {
                            "$ref": "#/components/schemas/csaStreamOpenAiChatCompletion"
                          },
                          {
                            "$ref": "#/components/schemas/csaExecWebhook"
                          },
                          {
                            "$ref": "#/components/schemas/csaInjectStartProps"
                          },
                          {
                            "$ref": "#/components/schemas/csaPixel"
                          },
                          {
                            "$ref": "#/components/schemas/csaStream"
                          },
                          {
                            "$ref": "#/components/schemas/csaCodeToExecute"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "type",
                          "mapping": {
                            "scriptToExecute": "#/components/schemas/csaScriptToExecute",
                            "redirect": "#/components/schemas/csaRedirect",
                            "chatwoot": "#/components/schemas/csaChatwoot",
                            "googleAnalytics": "#/components/schemas/csaGa",
                            "wait": "#/components/schemas/csaWait",
                            "setVariable": "#/components/schemas/csaSetVariable",
                            "streamOpenAiChatCompletion": "#/components/schemas/csaStreamOpenAiChatCompletion",
                            "webhookToExecute": "#/components/schemas/csaExecWebhook",
                            "startPropsToInject": "#/components/schemas/csaInjectStartProps",
                            "pixel": "#/components/schemas/csaPixel",
                            "stream": "#/components/schemas/csaStream",
                            "codeToExecute": "#/components/schemas/csaCodeToExecute"
                          }
                        }
                      },
                      "description": "Actions to execute on the client side"
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "details": {}
                        },
                        "required": [
                          "status",
                          "description"
                        ]
                      },
                      "description": "Logs that were saved during the last execution"
                    },
                    "dynamicTheme": {
                      "type": "object",
                      "properties": {
                        "hostAvatarUrl": {
                          "type": "string"
                        },
                        "guestAvatarUrl": {
                          "type": "string"
                        }
                      },
                      "description": "If the typebot contains dynamic avatars, dynamicTheme returns the new avatar URLs whenever their variables are updated."
                    },
                    "progress": {
                      "type": "number",
                      "description": "If progress bar is enabled, this field will return a number between 0 and 100 indicating the current progress based on the longest remaining path of the flow."
                    }
                  },
                  "required": [
                    "messages"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/typebots/{typebotId}/preview/startChat": {
      "post": {
        "operationId": "startChatPreview",
        "summary": "Start preview chat",
        "description": "Use this endpoint to test your bot. The answers will not be saved. And some blocks like \"Send email\" will be skipped.",
        "parameters": [
          {
            "in": "path",
            "name": "typebotId",
            "description": "[Where to find my bot's ID?](../how-to#how-to-find-my-typebotid)",
            "schema": {
              "type": "string",
              "description": "[Where to find my bot's ID?](../how-to#how-to-find-my-typebotid)"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isStreamEnabled": {
                    "type": "boolean",
                    "default": false
                  },
                  "message": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/textSentMessage"
                      },
                      {
                        "$ref": "#/components/schemas/audioSentMessage"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "type",
                      "mapping": {
                        "text": "#/components/schemas/textSentMessage",
                        "audio": "#/components/schemas/audioSentMessage"
                      }
                    }
                  },
                  "isOnlyRegistering": {
                    "type": "boolean",
                    "description": "If set to `true`, it will only register the session and not start the bot. This is used for 3rd party chat platforms as it can require a session to be registered before sending the first message.",
                    "default": false
                  },
                  "typebot": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/typebotV6"
                      },
                      {
                        "$ref": "#/components/schemas/typebotV5"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "version",
                      "mapping": {
                        "3": "#/components/schemas/typebotV5",
                        "4": "#/components/schemas/typebotV5",
                        "5": "#/components/schemas/typebotV5",
                        "6": "#/components/schemas/typebotV6"
                      }
                    },
                    "description": "If set, it will override the typebot that is used to start the chat."
                  },
                  "startFrom": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "group"
                            ]
                          },
                          "groupId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "groupId"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "event"
                            ]
                          },
                          "eventId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "eventId"
                        ]
                      }
                    ]
                  },
                  "prefilledVariables": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "[More info about prefilled variables.](../../editor/variables#prefilled-variables)",
                    "example": {
                      "First name": "John",
                      "Email": "john@gmail.com"
                    }
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "If provided, will be used as the session ID and will overwrite any existing session with the same ID."
                  },
                  "textBubbleContentFormat": {
                    "type": "string",
                    "enum": [
                      "richText",
                      "markdown"
                    ],
                    "default": "richText"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "To save and use for /continueChat requests."
                    },
                    "typebot": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "theme": {
                          "$ref": "#/components/schemas/theme"
                        },
                        "settings": {
                          "$ref": "#/components/schemas/settings"
                        },
                        "publishedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "theme",
                        "settings"
                      ]
                    },
                    "lastMessageNewFormat": {
                      "type": "string",
                      "description": "The sent message is validated and formatted on the backend. For example, if for a date input you replied something like `tomorrow`, the backend will convert it to a date string. This field returns the formatted message."
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/textMessage"
                              },
                              {
                                "$ref": "#/components/schemas/imageMessage"
                              },
                              {
                                "$ref": "#/components/schemas/videoMessage"
                              },
                              {
                                "$ref": "#/components/schemas/audioMessage"
                              },
                              {
                                "$ref": "#/components/schemas/embedMessage"
                              },
                              {
                                "$ref": "#/components/schemas/customEmbedMessage"
                              }
                            ],
                            "discriminator": {
                              "propertyName": "type",
                              "mapping": {
                                "text": "#/components/schemas/textMessage",
                                "image": "#/components/schemas/imageMessage",
                                "video": "#/components/schemas/videoMessage",
                                "audio": "#/components/schemas/audioMessage",
                                "embed": "#/components/schemas/embedMessage",
                                "custom-embed": "#/components/schemas/customEmbedMessage"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "input": {
                      "allOf": [
                        {
                          "anyOf": [
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/textInput"
                                },
                                {
                                  "$ref": "#/components/schemas/buttonsInput"
                                },
                                {
                                  "$ref": "#/components/schemas/email"
                                },
                                {
                                  "$ref": "#/components/schemas/numberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/url"
                                },
                                {
                                  "$ref": "#/components/schemas/phoneNumberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/dateInput"
                                },
                                {
                                  "$ref": "#/components/schemas/paymentInput"
                                },
                                {
                                  "$ref": "#/components/schemas/rating"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInput"
                                },
                                {
                                  "$ref": "#/components/schemas/pictureChoice"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "text input": "#/components/schemas/textInput",
                                  "choice input": "#/components/schemas/buttonsInput",
                                  "email input": "#/components/schemas/email",
                                  "number input": "#/components/schemas/numberInput",
                                  "url input": "#/components/schemas/url",
                                  "phone number input": "#/components/schemas/phoneNumberInput",
                                  "date input": "#/components/schemas/dateInput",
                                  "payment input": "#/components/schemas/paymentInput",
                                  "rating input": "#/components/schemas/rating",
                                  "file input": "#/components/schemas/fileInput",
                                  "picture choice input": "#/components/schemas/pictureChoice"
                                }
                              }
                            },
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/buttonsInputV5"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInputV5"
                                },
                                {
                                  "$ref": "#/components/schemas/pictureChoiceV5"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "choice input": "#/components/schemas/buttonsInputV5",
                                  "file input": "#/components/schemas/fileInputV5",
                                  "picture choice input": "#/components/schemas/pictureChoiceV5"
                                }
                              }
                            }
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "prefilledValue": {
                              "type": "string"
                            },
                            "runtimeOptions": {
                              "type": "object",
                              "properties": {
                                "paymentIntentSecret": {
                                  "type": "string"
                                },
                                "amountLabel": {
                                  "type": "string"
                                },
                                "publicKey": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "paymentIntentSecret",
                                "amountLabel",
                                "publicKey"
                              ]
                            }
                          }
                        }
                      ]
                    },
                    "clientSideActions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/csaScriptToExecute"
                          },
                          {
                            "$ref": "#/components/schemas/csaRedirect"
                          },
                          {
                            "$ref": "#/components/schemas/csaChatwoot"
                          },
                          {
                            "$ref": "#/components/schemas/csaGa"
                          },
                          {
                            "$ref": "#/components/schemas/csaWait"
                          },
                          {
                            "$ref": "#/components/schemas/csaSetVariable"
                          },
                          {
                            "$ref": "#/components/schemas/csaStreamOpenAiChatCompletion"
                          },
                          {
                            "$ref": "#/components/schemas/csaExecWebhook"
                          },
                          {
                            "$ref": "#/components/schemas/csaInjectStartProps"
                          },
                          {
                            "$ref": "#/components/schemas/csaPixel"
                          },
                          {
                            "$ref": "#/components/schemas/csaStream"
                          },
                          {
                            "$ref": "#/components/schemas/csaCodeToExecute"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "type",
                          "mapping": {
                            "scriptToExecute": "#/components/schemas/csaScriptToExecute",
                            "redirect": "#/components/schemas/csaRedirect",
                            "chatwoot": "#/components/schemas/csaChatwoot",
                            "googleAnalytics": "#/components/schemas/csaGa",
                            "wait": "#/components/schemas/csaWait",
                            "setVariable": "#/components/schemas/csaSetVariable",
                            "streamOpenAiChatCompletion": "#/components/schemas/csaStreamOpenAiChatCompletion",
                            "webhookToExecute": "#/components/schemas/csaExecWebhook",
                            "startPropsToInject": "#/components/schemas/csaInjectStartProps",
                            "pixel": "#/components/schemas/csaPixel",
                            "stream": "#/components/schemas/csaStream",
                            "codeToExecute": "#/components/schemas/csaCodeToExecute"
                          }
                        }
                      },
                      "description": "Actions to execute on the client side"
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "details": {}
                        },
                        "required": [
                          "status",
                          "description"
                        ]
                      },
                      "description": "Logs that were saved during the last execution"
                    },
                    "dynamicTheme": {
                      "type": "object",
                      "properties": {
                        "hostAvatarUrl": {
                          "type": "string"
                        },
                        "guestAvatarUrl": {
                          "type": "string"
                        }
                      },
                      "description": "If the typebot contains dynamic avatars, dynamicTheme returns the new avatar URLs whenever their variables are updated."
                    },
                    "progress": {
                      "type": "number",
                      "description": "If progress bar is enabled, this field will return a number between 0 and 100 indicating the current progress based on the longest remaining path of the flow."
                    }
                  },
                  "required": [
                    "sessionId",
                    "typebot",
                    "messages"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/typebots/{typebotId}/blocks/{blockId}/storage/upload-url": {
      "get": {
        "operationId": "getUploadUrl",
        "summary": "Get upload URL for a file",
        "description": "Used for the web client to get the bucket upload file.",
        "tags": [
          "Deprecated"
        ],
        "deprecated": true,
        "parameters": [
          {
            "in": "path",
            "name": "typebotId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "blockId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "filePath",
            "schema": {
              "type": "string"
[...]
