{
  "info": {
    "title": "Chat API",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://typebot.io/api"
    }
  ],
  "externalDocs": {
    "url": "https://docs.typebot.com/api-reference"
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Text": {
        "type": "object",
        "properties": {
          "type": {
            "const": "text"
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "replyId": {
                "type": "string"
              }
            }
          },
          "attachedFileUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Can only be provided if current input block is a text input block that allows attachments"
          }
        },
        "required": [
          "type",
          "text"
        ]
      },
      "Audio": {
        "type": "object",
        "properties": {
          "type": {
            "const": "audio"
          },
          "url": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "url"
        ],
        "description": "Can only be provided if current input block is a text input block that allows audio clips"
      },
      "Command": {
        "type": "object",
        "properties": {
          "type": {
            "const": "command"
          },
          "command": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "command"
        ]
      },
      "Group": {
        "type": "object",
        "properties": {
          "type": {
            "const": "group"
          },
          "groupId": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "groupId"
        ]
      },
      "Event": {
        "type": "object",
        "properties": {
          "type": {
            "const": "event"
          },
          "eventId": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "eventId"
        ]
      }
    }
  },
  "openapi": "3.1.1",
  "paths": {
    "/v1/typebots/{publicId}/startChat": {
      "post": {
        "operationId": "startChat",
        "summary": "Start chat",
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "[Where to find my bot's public ID?](../how-to#how-to-find-my-publicid)"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resultId": {
                    "type": "string",
                    "description": "Provide it if you'd like to overwrite an existing result."
                  },
                  "message": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/Text"
                      },
                      {
                        "$ref": "#/components/schemas/Audio"
                      },
                      {
                        "$ref": "#/components/schemas/Command"
                      }
                    ],
                    "description": "Only provide it if your flow starts with an input block and you'd like to directly provide an answer to it."
                  },
                  "isStreamEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "If enabled, you will be required to stream OpenAI completions on a client and send the generated response back to the API."
                  },
                  "isOnlyRegistering": {
                    "type": "boolean",
                    "default": false,
                    "description": "If set to `true`, it will only register the session and not start the bot. This is used for 3rd party chat platforms as it can require a session to be registered before sending the first message."
                  },
                  "prefilledVariables": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {},
                    "description": "[More info about prefilled variables.](../../editor/variables#prefilled-variables)"
                  },
                  "textBubbleContentFormat": {
                    "enum": [
                      "richText",
                      "markdown"
                    ],
                    "type": "string",
                    "default": "richText"
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "To save and use for /continueChat requests."
                    },
                    "resultId": {
                      "type": "string"
                    },
                    "typebot": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "version": {
                          "anyOf": [
                            {
                              "enum": [
                                "3",
                                "4",
                                "5"
                              ],
                              "type": "string"
                            },
                            {
                              "enum": [
                                "6",
                                "6.1"
                              ],
                              "type": "string"
                            }
                          ]
                        },
                        "theme": {
                          "type": "object",
                          "properties": {
                            "general": {
                              "type": "object",
                              "properties": {
                                "font": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "const": "Google"
                                            },
                                            "family": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "type"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "const": "Custom"
                                            },
                                            "family": {
                                              "type": "string"
                                            },
                                            "css": {
                                              "type": "string"
                                            },
                                            "url": {
                                              "type": "string",
                                              "description": "Deprecated, use `css` instead"
                                            }
                                          },
                                          "required": [
                                            "type"
                                          ]
                                        }
                                      ]
                                    }
                                  ]
                                },
                                "background": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "enum": [
                                        "Color",
                                        "Image",
                                        "None"
                                      ],
                                      "type": "string"
                                    },
                                    "content": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "progressBar": {
                                  "type": "object",
                                  "properties": {
                                    "isEnabled": {
                                      "type": "boolean"
                                    },
                                    "color": {
                                      "type": "string"
                                    },
                                    "backgroundColor": {
                                      "type": "string"
                                    },
                                    "placement": {
                                      "enum": [
                                        "Top",
                                        "Bottom"
                                      ],
                                      "type": "string"
                                    },
                                    "thickness": {
                                      "type": "number"
                                    },
                                    "position": {
                                      "enum": [
                                        "fixed",
                                        "absolute"
                                      ],
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "chat": {
                              "type": "object",
                              "properties": {
                                "container": {
                                  "type": "object",
                                  "properties": {
                                    "maxWidth": {
                                      "type": "string"
                                    },
                                    "maxHeight": {
                                      "type": "string"
                                    },
                                    "backgroundColor": {
                                      "type": "string"
                                    },
                                    "color": {
                                      "type": "string"
                                    },
                                    "blur": {
                                      "type": "number"
                                    },
                                    "opacity": {
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 1
                                    },
                                    "shadow": {
                                      "enum": [
                                        "none",
                                        "sm",
                                        "md",
                                        "lg",
                                        "xl",
                                        "2xl"
                                      ],
                                      "type": "string"
                                    },
                                    "border": {
                                      "type": "object",
                                      "properties": {
                                        "thickness": {
                                          "type": "number"
                                        },
                                        "color": {
                                          "type": "string"
                                        },
                                        "roundeness": {
                                          "enum": [
                                            "none",
                                            "medium",
                                            "large",
                                            "custom"
                                          ],
                                          "type": "string"
                                        },
                                        "customRoundeness": {
                                          "type": "number"
                                        },
                                        "opacity": {
                                          "type": "number",
                                          "minimum": 0,
                                          "maximum": 1
                                        }
                                      }
                                    }
                                  }
                                },
                                "hostAvatar": {
                                  "type": "object",
                                  "properties": {
                                    "isEnabled": {
                                      "type": "boolean"
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "guestAvatar": {
                                  "type": "object",
                                  "properties": {
                                    "isEnabled": {
                                      "type": "boolean"
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "hostBubbles": {
                                  "type": "object",
                                  "properties": {
                                    "backgroundColor": {
                                      "type": "string"
                                    },
                                    "color": {
                                      "type": "string"
                                    },
                                    "blur": {
                                      "type": "number"
                                    },
                                    "opacity": {
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 1
                                    },
                                    "shadow": {
                                      "enum": [
                                        "none",
                                        "sm",
                                        "md",
                                        "lg",
                                        "xl",
                                        "2xl"
                                      ],
                                      "type": "string"
                                    },
                                    "border": {
                                      "type": "object",
                                      "properties": {
                                        "thickness": {
                                          "type": "number"
                                        },
                                        "color": {
                                          "type": "string"
                                        },
                                        "roundeness": {
                                          "enum": [
                                            "none",
                                            "medium",
                                            "large",
                                            "custom"
                                          ],
                                          "type": "string"
                                        },
                                        "customRoundeness": {
                                          "type": "number"
                                        },
                                        "opacity": {
                                          "type": "number",
                                          "minimum": 0,
                                          "maximum": 1
                                        }
                                      }
                                    }
                                  }
                                },
                                "guestBubbles": {
                                  "type": "object",
                                  "properties": {
                                    "backgroundColor": {
                                      "type": "string"
                                    },
                                    "color": {
                                      "type": "string"
                                    },
                                    "blur": {
                                      "type": "number"
                                    },
                                    "opacity": {
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 1
                                    },
                                    "shadow": {
                                      "enum": [
                                        "none",
                                        "sm",
                                        "md",
                                        "lg",
                                        "xl",
                                        "2xl"
                                      ],
                                      "type": "string"
                                    },
                                    "border": {
                                      "type": "object",
                                      "properties": {
                                        "thickness": {
                                          "type": "number"
                                        },
                                        "color": {
                                          "type": "string"
                                        },
                                        "roundeness": {
                                          "enum": [
                                            "none",
                                            "medium",
                                            "large",
                                            "custom"
                                          ],
                                          "type": "string"
                                        },
                                        "customRoundeness": {
                                          "type": "number"
                                        },
                                        "opacity": {
                                          "type": "number",
                                          "minimum": 0,
                                          "maximum": 1
                                        }
                                      }
                                    }
                                  }
                                },
                                "buttons": {
                                  "type": "object",
                                  "properties": {
                                    "backgroundColor": {
                                      "type": "string"
                                    },
                                    "color": {
                                      "type": "string"
                                    },
                                    "blur": {
                                      "type": "number"
                                    },
                                    "opacity": {
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 1
                                    },
                                    "shadow": {
                                      "enum": [
                                        "none",
                                        "sm",
                                        "md",
                                        "lg",
                                        "xl",
                                        "2xl"
                                      ],
                                      "type": "string"
                                    },
                                    "border": {
                                      "type": "object",
                                      "properties": {
                                        "thickness": {
                                          "type": "number"
                                        },
                                        "color": {
                                          "type": "string"
                                        },
                                        "roundeness": {
                                          "enum": [
                                            "none",
                                            "medium",
                                            "large",
                                            "custom"
                                          ],
                                          "type": "string"
                                        },
                                        "customRoundeness": {
                                          "type": "number"
                                        },
                                        "opacity": {
                                          "type": "number",
                                          "minimum": 0,
                                          "maximum": 1
                                        }
                                      }
                                    }
                                  }
                                },
                                "inputs": {
                                  "type": "object",
                                  "properties": {
                                    "backgroundColor": {
                                      "type": "string"
                                    },
                                    "color": {
                                      "type": "string"
                                    },
                                    "blur": {
                                      "type": "number"
                                    },
                                    "opacity": {
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 1
                                    },
                                    "shadow": {
                                      "enum": [
                                        "none",
                                        "sm",
                                        "md",
                                        "lg",
                                        "xl",
                                        "2xl"
                                      ],
                                      "type": "string"
                                    },
                                    "border": {
                                      "type": "object",
                                      "properties": {
                                        "thickness": {
                                          "type": "number"
                                        },
                                        "color": {
                                          "type": "string"
                                        },
                                        "roundeness": {
                                          "enum": [
                                            "none",
                                            "medium",
                                            "large",
                                            "custom"
                                          ],
                                          "type": "string"
                                        },
                                        "customRoundeness": {
                                          "type": "number"
                                        },
                                        "opacity": {
                                          "type": "number",
                                          "minimum": 0,
                                          "maximum": 1
                                        }
                                      }
                                    },
                                    "placeholderColor": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "roundness": {
                                  "enum": [
                                    "none",
                                    "medium",
                                    "large"
                                  ],
                                  "type": "string",
                                  "description": "Deprecated, use `container.border.roundeness` instead"
                                },
                                "buttonsInput": {
                                  "type": "object",
                                  "properties": {
                                    "layout": {
                                      "enum": [
                                        "wrap",
                                        "vertical"
                                      ],
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "customCss": {
                              "type": "string"
                            }
                          }
                        },
                        "settings": {
                          "type": "object",
                          "properties": {
                            "general": {
                              "type": "object",
                              "properties": {
                                "isBrandingEnabled": {
                                  "type": "boolean"
                                },
                                "isTypingEmulationEnabled": {
                                  "type": "boolean"
                                },
                                "isInputPrefillEnabled": {
                                  "type": "boolean"
                                },
                                "isHideQueryParamsEnabled": {
                                  "type": "boolean"
                                },
                                "isNewResultOnRefreshEnabled": {
                                  "type": "boolean"
                                },
                                "rememberUser": {
                                  "type": "object",
                                  "properties": {
                                    "isEnabled": {
                                      "type": "boolean"
                                    },
                                    "storage": {
                                      "enum": [
                                        "session",
                                        "local"
                                      ],
                                      "type": "string"
                                    }
                                  }
                                },
                                "systemMessages": {
                                  "type": "object",
                                  "properties": {
                                    "invalidMessage": {
                                      "type": "string"
                                    },
                                    "botClosed": {
                                      "type": "string"
                                    },
                                    "networkErrorTitle": {
                                      "type": "string"
                                    },
                                    "networkErrorMessage": {
                                      "type": "string"
                                    },
                                    "popupBlockedTitle": {
                                      "type": "string"
                                    },
                                    "popupBlockedDescription": {
                                      "type": "string"
                                    },
                                    "popupBlockedButtonLabel": {
                                      "type": "string"
                                    },
                                    "fileUploadError": {
                                      "type": "string"
                                    },
                                    "fileUploadSizeError": {
                                      "type": "string"
                                    },
                                    "whatsAppPictureChoiceSelectLabel": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "typingEmulation": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean"
                                },
                                "speed": {
                                  "type": "number"
                                },
                                "maxDelay": {
                                  "type": "number"
                                },
                                "delayBetweenBubbles": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 5
                                },
                                "isDisabledOnFirstMessage": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        },
                        "publishedAt": {
                          "type": "string",
                          "format": "date-time",
                          "x-native-type": "date"
                        }
                      },
                      "required": [
                        "id",
                        "version",
                        "theme",
                        "settings"
                      ]
                    },
                    "lastMessageNewFormat": {
                      "type": "string",
                      "description": "The sent message is validated and formatted on the backend. For example, if for a date input you replied something like `tomorrow`, the backend will convert it to a date string. This field returns the formatted message."
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "const": "text"
                                  },
                                  "content": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "const": "richText"
                                          },
                                          "richText": {}
                                        },
                                        "required": [
                                          "type"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "const": "markdown"
                                          },
                                          "markdown": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "markdown"
                                        ]
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "type",
                                  "content"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "image"
                                    ],
                                    "type": "string"
                                  },
                                  "content": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string"
                                      },
                                      "clickLink": {
                                        "type": "object",
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          },
                                          "alt": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "type",
                                  "content"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "video"
                                    ],
                                    "type": "string"
                                  },
                                  "content": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "enum": [
                                          "url",
                                          "youtube",
                                          "vimeo",
                                          "tiktok",
                                          "gumlet"
                                        ],
                                        "type": "string"
                                      },
                                      "height": {},
                                      "aspectRatio": {
                                        "type": "string"
                                      },
                                      "maxWidth": {
                                        "type": "string"
                                      },
                                      "queryParamsStr": {
                                        "type": "string"
                                      },
                                      "areControlsDisplayed": {
                                        "type": "boolean"
                                      },
                                      "isAutoplayEnabled": {
                                        "type": "boolean"
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "type",
                                  "content"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "audio"
                                    ],
                                    "type": "string"
                                  },
                                  "content": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string"
                                      },
                                      "isAutoplayEnabled": {
                                        "type": "boolean"
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "type",
                                  "content"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "embed"
                                    ],
                                    "type": "string"
                                  },
                                  "content": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string"
                                      },
                                      "height": {},
                                      "waitForEvent": {
                                        "type": "object",
                                        "properties": {
                                          "isEnabled": {
                                            "type": "boolean"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "saveDataInVariableId": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "type",
                                  "content"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "const": "custom-embed"
                                  },
                                  "content": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string"
                                      },
                                      "waitForEventFunction": {
                                        "type": "object",
                                        "properties": {
                                          "args": {
                                            "type": "object",
                                            "propertyNames": {
                                              "type": "string"
                                            },
                                            "additionalProperties": {}
                                          },
                                          "content": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "args",
                                          "content"
                                        ]
                                      },
                                      "initFunction": {
                                        "type": "object",
                                        "properties": {
                                          "args": {
                                            "type": "object",
                                            "propertyNames": {
                                              "type": "string"
                                            },
                                            "additionalProperties": {}
                                          },
                                          "content": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "args",
                                          "content"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "initFunction"
                                    ]
                                  }
                                },
                                "required": [
                                  "type",
                                  "content"
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    },
                    "input": {
                      "allOf": [
                        {
                          "anyOf": [
                            {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "outgoingEdgeId": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "enum": [
                                        "text input"
                                      ],
                                      "type": "string"
                                    },
                                    "options": {
                                      "type": "object",
                                      "properties": {
                                        "labels": {
                                          "type": "object",
                                          "properties": {
                                            "placeholder": {
                                              "type": "string"
                                            },
                                            "button": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "variableId": {
                                          "type": "string"
                                        },
                                        "isLong": {
                                          "type": "boolean"
                                        },
                                        "inputMode": {
                                          "enum": [
                                            "text",
                                            "decimal",
                                            "numeric",
                                            "tel",
                                            "search",
                                            "email",
                                            "url"
                                          ],
                                          "type": "string"
                                        },
                                        "audioClip": {
                                          "type": "object",
                                          "properties": {
                                            "isEnabled": {
                                              "type": "boolean"
                                            },
                                            "saveVariableId": {
                                              "type": "string"
                                            },
                                            "visibility": {
                                              "enum": [
                                                "Auto",
                                                "Public",
                                                "Private"
                                              ],
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "attachments": {
                                          "type": "object",
                                          "properties": {
                                            "isEnabled": {
                                              "type": "boolean"
                                            },
                                            "saveVariableId": {
                                              "type": "string"
                                            },
                                            "visibility": {
                                              "enum": [
                                                "Auto",
                                                "Public",
                                                "Private"
                                              ],
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "outgoingEdgeId": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "enum": [
                                        "choice input"
                                      ],
                                      "type": "string"
                                    },
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "content": {
                                            "type": "string"
                                          },
                                          "value": {
                                            "type": "string"
                                          },
                                          "displayCondition": {
                                            "type": "object",
                                            "properties": {
                                              "isEnabled": {
                                                "type": "boolean"
                                              },
                                              "condition": {
                                                "type": "object",
                                                "properties": {
                                                  "logicalOperator": {
                                                    "enum": [
                                                      "OR",
                                                      "AND"
                                                    ],
                                                    "type": "string"
                                                  },
                                                  "comparisons": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object",
                                                      "properties": {
                                                        "id": {},
                                                        "variableId": {},
                                                        "comparisonOperator": {},
                                                        "value": {}
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "required": [
                                          "id"
                                        ]
                                      }
                                    },
                                    "options": {
                                      "type": "object",
                                      "properties": {
                                        "variableId": {
                                          "type": "string"
                                        },
                                        "isMultipleChoice": {
                                          "type": "boolean"
                                        },
                                        "buttonLabel": {
                                          "type": "string"
                                        },
                                        "dynamicVariableId": {
                                          "type": "string"
                                        },
                                        "isSearchable": {
                                          "type": "boolean"
                                        },
                                        "searchInputPlaceholder": {
                                          "type": "string"
                                        },
                                        "areInitialSearchButtonsVisible": {
                                          "type": "boolean"
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type",
                                    "items"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "outgoingEdgeId": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "enum": [
                                        "email input"
                                      ],
                                      "type": "string"
                                    },
                                    "options": {
                                      "type": "object",
                                      "properties": {
                                        "variableId": {
                                          "type": "string"
                                        },
                                        "labels": {
                                          "type": "object",
                                          "properties": {
                                            "placeholder": {
                                              "type": "string"
                                            },
                                            "button": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "retryMessageContent": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "outgoingEdgeId": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "enum": [
                                        "number input"
                                      ],
                                      "type": "string"
                                    },
                                    "options": {
                                      "type": "object",
                                      "properties": {
                                        "variableId": {
                                          "type": "string"
                                        },
                                        "labels": {
                                          "type": "object",
                                          "properties": {
                                            "placeholder": {
                                              "type": "string"
                                            },
                                            "button": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "min": {},
                                        "max": {},
                                        "step": {},
                                        "locale": {
                                          "type": "string",
                                          "pattern": "^[a-z]{2}(-[A-Z]{2})?$"
                                        },
                                        "style": {
                                          "enum": [
                                            "decimal",
                                            "currency",
                                            "percent",
                                            "unit"
                                          ],
                                          "type": "string"
                                        },
                                        "currency": {
                                          "type": "string"
                                        },
                                        "unit": {
                                          "enum": [
                                            "acre",
                                            "bit",
                                            "byte",
                                            "celsius",
                                            "centimeter",
                                            "day",
                                            "degree",
                                            "fahrenheit",
                                            "fluid-ounce",
                                            "foot",
                                            "gallon",
                                            "gigabit",
                                            "gigabyte",
                                            "gram",
                                            "hectare",
                                            "hour",
                                            "inch",
                                            "kilobit",
                                            "kilobyte",
                                            "kilogram",
                                            "kilometer",
                                            "liter",
                                            "megabit",
                                            "megabyte",
                                            "meter",
                                            "microsecond",
                                            "mile",
                                            "mile-scandinavian",
                                            "milliliter",
                                            "millimeter",
                                            "millisecond",
                                            "minute",
                                            "month",
                                            "nanosecond",
                                            "ounce",
                                            "percent",
                                            "petabyte",
                                            "pound",
                                            "second",
                                            "stone",
                                            "terabit",
                                            "terabyte",
                                            "week",
                                            "yard",
                                            "year"
                                          ],
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "outgoingEdgeId": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "enum": [
                                        "url input"
                                      ],
                                      "type": "string"
                                    },
                                    "options": {
                                      "type": "object",
                                      "properties": {
                                        "variableId": {
                                          "type": "string"
                                        },
                                        "labels": {
                                          "type": "object",
                                          "properties": {
                                            "placeholder": {
                                              "type": "string"
                                            },
                                            "button": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "retryMessageContent": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "outgoingEdgeId": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "enum": [
                                        "phone number input"
                                      ],
                                      "type": "string"
                                    },
                                    "options": {
                                      "type": "object",
                                      "properties": {
                                        "variableId": {
                                          "type": "string"
                                        },
                                        "labels": {
                                          "type": "object",
                                          "properties": {
                                            "placeholder": {
                                              "type": "string"
                                            },
                                            "button": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "retryMessageContent": {
                                          "type": "string"
                                        },
                                        "defaultCountryCode": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "outgoingEdgeId": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "enum": [
                                        "date input"
                                      ],
                                      "type": "string"
                                    },
                                    "options": {
                                      "type": "object",
                                      "properties": {
                                        "variableId": {
                                          "type": "string"
                                        },
                                        "labels": {
                                          "type": "object",
                                          "properties": {
                                            "button": {
                                              "type": "string"
                                            },
                                            "from": {
                                              "type": "string"
                                            },
                                            "to": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "hasTime": {
                                          "type": "boolean"
                                        },
                                        "isRange": {
                                          "type": "boolean"
                                        },
                                        "format": {
                                          "type": "string",
                                          "description": "Format of the string is based on Unicode Technical Standard #35"
                                        },
                                        "min": {
                                          "type": "string"
                                        },
                                        "max": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "outgoingEdgeId": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "enum": [
                                        "time input"
                                      ],
                                      "type": "string"
                                    },
                                    "options": {
                                      "type": "object",
                                      "properties": {
                                        "variableId": {
                                          "type": "string"
                                        },
                                        "labels": {
                                          "type": "object",
                                          "properties": {
                                            "button": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "format": {
                                          "type": "string",
                                          "description": "Format of the string is based on Unicode Technical Standard #35"
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "outgoingEdgeId": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "enum": [
                                        "payment input"
                                      ],
                                      "type": "string"
                                    },
                                    "options": {
                                      "type": "object",
                                      "properties": {
                                        "variableId": {
                                          "type": "string"
                                        },
                                        "provider": {
                                          "enum": [
                                            "Stripe"
                                          ],
                                          "type": "string"
                                        },
                                        "labels": {
                                          "type": "object",
                                          "properties": {
                                            "button": {
                                              "type": "string"
                                            },
                                            "success": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "additionalInformation": {
                                          "type": "object",
                                          "properties": {
                                            "description": {
                                              "type": "string"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "email": {
                                              "type": "string"
                                            },
                                            "phoneNumber": {
                                              "type": "string"
                                            },
                                            "address": {
                                              "type": "object",
                                              "properties": {
                                                "country": {
                                                  "type": "string"
                                                },
                                                "line1": {
                                                  "type": "string"
                                                },
                                                "line2": {
                                                  "type": "string"
                                                },
                                                "state": {
                                                  "type": "string"
                                                },
                                                "city": {
                                                  "type": "string"
                                                },
                                                "postalCode": {
                                                  "type": "string"
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "credentialsId": {
                                          "type": "string"
                                        },
                                        "currency": {
                                          "type": "string"
                                        },
                                        "amount": {
                                          "type": "string"
                                        },
                                        "retryMessageContent": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "outgoingEdgeId": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "const": "rating input"
                                    },
                                    "options": {
                                      "type": "object",
                                      "properties": {
                                        "variableId": {
                                          "type": "string"
                                        },
                                        "buttonType": {
                                          "anyOf": [
                                            {
                                              "const": "Icons"
                                            },
                                            {
                                              "const": "Numbers"
                                            }
                                          ]
                                        },
                                        "length": {
                                          "type": "number"
                                        },
                                        "startsAt": {},
                                        "labels": {
                                          "type": "object",
                                          "properties": {
                                            "left": {
                                              "type": "string"
                                            },
                                            "right": {
                                              "type": "string"
                                            },
                                            "button": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "customIcon": {
                                          "type": "object",
                                          "properties": {
                                            "isEnabled": {
                                              "type": "boolean"
                                            },
                                            "svg": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "isOneClickSubmitEnabled": {
                                          "type": "boolean"
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "outgoingEdgeId": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "const": "file input"
                                    },
                                    "options": {
                                      "type": "object",
                                      "properties": {
                                        "variableId": {
                                          "type": "string"
                                        },
                                        "isRequired": {
                                          "type": "boolean"
                                        },
                                        "isMultipleAllowed": {
                                          "type": "boolean"
                                        },
                                        "labels": {
                                          "type": "object",
                                          "properties": {
                                            "placeholder": {
                                              "type": "string"
                                            },
                                            "button": {
                                              "type": "string"
                                            },
                                            "clear": {
                                              "type": "string"
                                            },
                                            "skip": {
                                              "type": "string"
                                            },
                                            "success": {
                                              "type": "object",
                                              "properties": {
                                                "single": {
                                                  "type": "string"
                                                },
                                                "multiple": {
                                                  "type": "string"
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "allowedFileTypes": {
                                          "type": "object",
                                          "properties": {
                                            "isEnabled": {
                                              "type": "boolean"
                                            },
                                            "types": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              }
                                            }
                                          }
                                        },
                                        "capture": {
                                          "enum": [
                                            "environment",
                                            "user"
                                          ],
                                          "type": "string"
                                        },
                                        "visibility": {
                                          "enum": [
                                            "Auto",
                                            "Public",
                                            "Private"
                                          ],
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "outgoingEdgeId": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "enum": [
                                        "picture choice input"
                                      ],
                                      "type": "string"
                                    },
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "pictureSrc": {
                                            "type": "string"
                                          },
                                          "title": {
                                            "type": "string"
                                          },
                                          "description": {
                                            "type": "string"
                                          },
                                          "value": {
                                            "type": "string"
                                          },
                                          "displayCondition": {
                                            "type": "object",
                                            "properties": {
                                              "isEnabled": {
                                                "type": "boolean"
                                              },
                                              "condition": {
                                                "type": "object",
                                                "properties": {
                                                  "logicalOperator": {
                                                    "enum": [
                                                      "OR",
                                                      "AND"
                                                    ],
                                                    "type": "string"
                                                  },
                                                  "comparisons": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object",
                                                      "properties": {
                                                        "id": {},
                                                        "variableId": {},
                                                        "comparisonOperator": {},
                                                        "value": {}
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "required": [
                                          "id"
                                        ]
                                      }
                                    },
                                    "options": {
                                      "type": "object",
                                      "properties": {
                                        "variableId": {
                                          "type": "string"
                                        },
                                        "isMultipleChoice": {
                                          "type": "boolean"
                                        },
                                        "isSearchable": {
                                          "type": "boolean"
                                        },
                                        "buttonLabel": {
                                          "type": "string"
                                        },
                                        "searchInputPlaceholder": {
                                          "type": "string"
                                        },
                                        "dynamicItems": {
                                          "type": "object",
                                          "properties": {
                                            "isEnabled": {
                                              "type": "boolean"
                                            },
                                            "titlesVariableId": {
                                              "type": "string"
                                            },
                                            "descriptionsVariableId": {
                                              "type": "string"
                                            },
                                            "pictureSrcsVariableId": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type",
                                    "items"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "outgoingEdgeId": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "const": "cards"
                                    },
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "options": {
                                            "type": "object",
                                            "properties": {
                                              "displayCondition": {
                                                "type": "object",
                                                "properties": {
                                                  "isEnabled": {
                                                    "type": "boolean"
                                                  },
                                                  "condition": {
                                                    "type": "object",
                                                    "properties": {
                                                      "logicalOperator": {
                                                        "enum": [
                                                          "OR",
                                                          "AND"
                                                        ],
                                                        "type": "string"
                                                      },
                                                      "comparisons": {
                                                        "type": "array",
                                                        "items": {
                                                          "anyOf": [
                                                            {},
                                                            {
                                                              "type": "null"
                                                            }
                                                          ]
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              },
                                              "internalValue": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              }
                                            }
                                          },
                                          "imageUrl": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "title": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "description": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "paths": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
[...]
