Dockerfile
.dockerignore
**/node_modules
npm-debug.log
README.md
**/.next
.git
.github
.nx
.env*
**/.env*
**/coverage
**/test-results
**/playwright-report
**/.cache
**/.turbo
**/tmp
**/*.log
**/*.tsbuildinfo
**/*.bak
**/*.backup
landing-page
docs
wordpress
