# Make sure to change this to your own random string of 32 characters (https://docs.typebot.io/self-hosting/deploy/docker#2-add-the-required-configuration)
ENCRYPTION_SECRET=do+UspMmB/rewbX2K/rskFmtgGSSZ8Ta

DATABASE_URL=postgresql://postgres:typebot@typebot-db:5432/typebot

NODE_OPTIONS=--no-node-snapshot

NEXTAUTH_URL=
NEXT_PUBLIC_VIEWER_URL=

ADMIN_EMAIL=
# For more configuration options check out: https://docs.typebot.io/self-hosting/configuration

# SMTP Configuration (Email Authentication & Notifications)
# Note: If your SMTP_PASSWORD contains a $ character, escape it as \$ (e.g-, abc\$$defghij)
# The dotenv CLI treats $ as shell variable which silently corrupts the password value.
# Only $ needs escaping - DO NOT escape other special characters like &
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=25
NEXT_PUBLIC_SMTP_FROM=