node_modules
.next
.env
.env.local
workspace.code-workspace
.DS_Store
.turbo
authenticatedState.json
playwright-report
dist
test-results
**/src/test/results
**/src/test/reporters
test/report
**/api/scripts
.sentryclirc
.docusaurus
.cache-loader
build
firebaseServiceAccount.json

.env.production
.env.staging

# Wordpress
.svn
tags

dump.sql
dump.tar

__env.js

typebotsToFix.json
**/scripts/logs

snapshots