node_modules
audit-log.json
.next
.env
.env.local
*.Zone.Identifier
workspace.code-workspace
.DS_Store
.turbo
yarn-error.log
authenticatedState.json
playwright-report
dist
test-results
**/api/scripts
apps/docs/build/
.sentryclirc
.docusaurus
.cache-loader
#build
firebaseServiceAccount.json

.env.production

# Wordpress
.svn

*.history/

apps/docs/build/
