
# Created by https://www.toptal.com/developers/gitignore/api/yarn
# Edit at https://www.toptal.com/developers/gitignore?templates=yarn

### yarn ###
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
# !.yarn/cache

# and uncomment the following lines
# .pnp.*

node_modules

# End of https://www.toptal.com/developers/gitignore/api/yarn

.next

.env
.env.local

cypress.env.json

workspace.code-workspace

.DS_Store

.turbo
apps/builder/tsconfig.tsbuildinfo

yarn-error.log
