#typebot-popup {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms;
  z-index: 99999;
}

#typebot-popup.opened {
  opacity: 1;
  visibility: visible;
}

#typebot-popup > iframe {
  width: 100%;
  height: 600px;
  max-width: 800px;
  border-radius: 10px;
}
