@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sh-class: #5395e5;
  --sh-identifier: white;
  --sh-sign: #8996a3;
  --sh-property: #5395e5;
  --sh-entity: #249a97;
  --sh-jsxliterals: #6266d1;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
}

.prose > * {
  width: 100%;
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
}
