@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sniper-container-bg-image: none;
  --sniper-container-bg-color: transparent;
  --sniper-container-font-family: 'Open Sans';

  --sniper-button-bg-color: #0042da;
  --sniper-button-color: #ffffff;

  --sniper-host-bubble-bg-color: #f7f8ff;
  --sniper-host-bubble-color: #303235;

  --sniper-guest-bubble-bg-color: #ff8e21;
  --sniper-guest-bubble-color: #ffffff;

  --sniper-input-bg-color: #ffffff;
  --sniper-input-color: #303235;
  --sniper-input-placeholder-color: #9095a0;

  --sniper-header-bg-color: #ffffff;
  --sniper-header-color: #303235;

  /* Phone input */
  --PhoneInputCountryFlag-borderColor: transparent;
  --PhoneInput-color--focus: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Transitions */
.bubble-enter {
  opacity: 0;
}
.bubble-enter-active {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
.bubble-exit {
  opacity: 1;
}
.bubble-exit-active {
  opacity: 0;
  transition-delay: 0ms !important;
  transition-property: opacity;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}

.bubble-typing {
  transition: width 400ms ease-out, height 400ms ease-out;
}

.content-opacity {
  transition: opacity 400ms ease-in 200ms;
}

.bubble1,
.bubble2,
.bubble3 {
  background-color: var(--sniper-host-bubble-color);
  opacity: 0.5;
}

.bubble1 {
  animation: chatBubbles 1s ease-in-out infinite;
}

.bubble2 {
  animation: chatBubbles 1s ease-in-out infinite;
  animation-delay: 0.3s;
}

.bubble3 {
  animation: chatBubbles 1s ease-in-out infinite;
  animation-delay: 0.5s;
}

@keyframes chatBubbles {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

button,
input,
textarea {
  font-weight: 300;
}

.slate-a {
  text-decoration: underline;
}

.slate-html-container > div {
  min-height: 24px;
}

.slate-bold {
  font-weight: bold;
}

.slate-italic {
  font-style: oblique;
}

.slate-underline {
  text-decoration: underline;
}

.text-input::-webkit-input-placeholder {
  color: var(--sniper-input-placeholder-color) !important;
  opacity: 1 !important;
}
.text-input::-moz-placeholder {
  color: var(--sniper-input-placeholder-color) !important;
  opacity: 1 !important;
}
.text-input::placeholder {
  color: var(--sniper-input-placeholder-color) !important;
  opacity: 1 !important;
}

.sniper-container {
  background-image: var(--sniper-container-bg-image);
  background-color: var(--sniper-container-bg-color);
  font-family: var(--sniper-container-font-family);
}

.custom-header {
  color: var(--sniper-header-color);
  background-color: var(--sniper-header-bg-color);
}

.sniper-button {
  color: var(--sniper-button-color);
  background-color: var(--sniper-button-bg-color);
  border: 1px solid var(--sniper-button-bg-color);
}

.sniper-button.selectable {
  color: var(--sniper-host-bubble-color);
  background-color: var(--sniper-host-bubble-bg-color);
  border: 1px solid var(--sniper-button-bg-color);
}

.sniper-host-bubble {
  color: var(--sniper-host-bubble-color);
}

.sniper-host-bubble > .bubble-typing {
  background-color: var(--sniper-host-bubble-bg-color);
  border: var(--sniper-host-bubble-border);
}

.sniper-guest-bubble {
  color: var(--sniper-guest-bubble-color);
  background-color: var(--sniper-guest-bubble-bg-color);
}

.sniper-input {
  color: var(--sniper-input-color);
  background-color: var(--sniper-input-bg-color);
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.1);
}

.sniper-input-error-message {
  color: var(--sniper-input-color);
}

.sniper-button > .send-icon {
  fill: var(--sniper-button-color);
}

.sniper-chat-view {
  max-width: 800px;
}

.ping span {
  background-color: var(--sniper-button-bg-color);
}

.rating-icon-container svg {
  width: 42px;
  height: 42px;
  stroke: var(--sniper-button-bg-color);
  fill: var(--sniper-host-bubble-bg-color);
  transition: fill 100ms ease-out;
}

.rating-icon-container.selected svg {
  fill: var(--sniper-button-bg-color);
}

.rating-icon-container:hover svg {
  filter: brightness(0.9);
}

.rating-icon-container:active svg {
  filter: brightness(0.75);
}

.upload-progress-bar {
  background-color: var(--sniper-button-bg-color);
}

.total-files-indicator {
  background-color: var(--sniper-button-bg-color);
  color: var(--sniper-button-color);
  font-size: 10px;
}

.sniper-upload-input {
  transition: border-color 100ms ease-out;
}

.sniper-upload-input.dragging-over {
  border-color: var(--sniper-button-bg-color);
}

.secondary-button {
  background-color: var(--sniper-host-bubble-bg-color);
  color: var(--sniper-host-bubble-color);
}
