#lite-badge {
  position: absolute !important;
  padding: 4px 8px !important;
  background-color: white !important;
  z-index: 50 !important;
  border-radius: 4px !important;
  color: rgb(17 24 39) !important;
  gap: 8px !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 600 !important;
  border-width: 1px !important;
  /* Make sure the badge is always displayed */
  opacity: 1 !important;
  visibility: visible !important;
  display: flex !important;
  top: auto !important;
  right: auto !important;
  left: auto !important;
  bottom: 20px !important;
  transition: background-color 0.2s ease-in-out !important;
}

#lite-badge:hover {
  background-color: #f7f8ff !important;
}
