apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: typebot-viewer
spec:
  maxReplicas: 3
  minReplicas: 1
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: typebot-viewer
  targetCPUUtilizationPercentage: 75
