:root,
.light {
  --blue-1: 252 253 254;
  --blue-2: 246 249 255;
  --blue-3: 235 242 255;
  --blue-4: 221 234 255;
  --blue-5: 204 223 255;
  --blue-6: 183 210 255;
  --blue-7: 160 191 255;
  --blue-8: 127 165 253;
  --blue-9: 53 102 252;
  --blue-10: 47 91 225;
  --blue-11: 44 87 221;
  --blue-12: 23 44 101;

  --orange-1: 254 252 251;
  --orange-2: 255 244 240;
  --orange-3: 255 232 222;
  --orange-4: 255 214 199;
  --orange-5: 255 200 181;
  --orange-6: 255 184 160;
  --orange-7: 255 162 134;
  --orange-8: 249 136 104;
  --orange-9: 255 89 36;
  --orange-10: 242 73 5;
  --orange-11: 220 59 0;
  --orange-12: 91 42 28;

  --purple-1: 252 252 255;
  --purple-2: 249 248 255;
  --purple-3: 242 240 255;
  --purple-4: 231 228 255;
  --purple-5: 221 216 255;
  --purple-6: 208 201 255;
  --purple-7: 189 179 255;
  --purple-8: 165 149 255;
  --purple-9: 128 85 253;
  --purple-10: 116 71 236;
  --purple-11: 104 65 211;
  --purple-12: 50 30 108;

  --red-1: 255 252 252;
  --red-2: 255 247 246;
  --red-3: 255 235 233;
  --red-4: 255 218 214;
  --red-5: 255 203 198;
  --red-6: 255 186 181;
  --red-7: 252 165 160;
  --red-8: 244 137 132;
  --red-9: 248 59 69;
  --red-10: 234 38 56;
  --red-11: 216 6 42;
  --red-12: 106 13 20;

  --green-1: 251 254 252;
  --green-2: 244 251 247;
  --green-3: 229 246 236;
  --green-4: 213 241 224;
  --green-5: 195 232 210;
  --green-6: 173 222 192;
  --green-7: 142 206 169;
  --green-8: 95 184 136;
  --green-9: 43 154 102;
  --green-10: 22 141 90;
  --green-11: 0 129 79;
  --green-12: 28 59 42;

  --gray-1: 255 255 255;
  --gray-2: 241 241 241;
  --gray-3: 240 240 240;
  --gray-4: 232 232 232;
  --gray-5: 224 224 224;
  --gray-6: 223 223 223;
  --gray-7: 206 206 206;
  --gray-8: 187 187 187;
  --gray-9: 141 141 141;
  --gray-10: 131 131 131;
  --gray-11: 70 70 70;
  --gray-12: 32 32 32;
}

.dark,
/* Chakra UI dark mode, to delete once fully migrated to Tailwind */
  .chakra-ui-dark {
  --blue-1: 7 13 26;
  --blue-2: 15 22 39;
  --blue-3: 18 35 78;
  --blue-4: 22 44 106;
  --blue-5: 29 55 126;
  --blue-6: 37 66 143;
  --blue-7: 46 78 164;
  --blue-8: 54 91 193;
  --blue-9: 53 102 252;
  --blue-10: 42 87 236;
  --blue-11: 141 180 255;
  --blue-12: 209 226 255;

  --orange-1: 18 11 9;
  --orange-2: 31 20 17;
  --orange-3: 55 24 16;
  --orange-4: 78 22 6;
  --orange-5: 94 30 11;
  --orange-6: 110 44 24;
  --orange-7: 135 60 38;
  --orange-8: 173 77 49;
  --orange-9: 255 89 36;
  --orange-10: 241 75 15;
  --orange-11: 255 151 118;
  --orange-12: 255 215 202;

  --purple-1: 13 10 27;
  --purple-2: 23 19 42;
  --purple-3: 38 27 79;
  --purple-4: 50 30 108;
  --purple-5: 59 37 124;
  --purple-6: 70 49 139;
  --purple-7: 84 62 162;
  --purple-8: 104 76 199;
  --purple-9: 128 85 253;
  --purple-10: 116 70 238;
  --purple-11: 180 166 255;
  --purple-12: 224 220 255;

  --red-1: 19 10 10;
  --red-2: 32 18 17;
  --red-3: 62 14 15;
  --red-4: 85 5 12;
  --red-5: 103 11 19;
  --red-6: 121 27 31;
  --red-7: 147 43 45;
  --red-8: 190 58 60;
  --red-9: 248 59 69;
  --red-10: 233 41 57;
  --red-11: 255 143 137;
  --red-12: 255 208 203;

  --green-1: 13 19 15;
  --green-2: 19 27 22;
  --green-3: 21 44 32;
  --green-4: 22 59 39;
  --green-5: 28 72 49;
  --green-6: 37 87 61;
  --green-7: 45 103 73;
  --green-8: 53 123 87;
  --green-9: 43 154 102;
  --green-10: 22 141 90;
  --green-11: 104 208 152;
  --green-12: 179 240 204;

  --gray-1: 13 13 13;
  --gray-2: 23 23 23;
  --gray-3: 34 34 34;
  --gray-4: 42 42 42;
  --gray-5: 49 49 49;
  --gray-6: 58 58 58;
  --gray-7: 72 72 72;
  --gray-8: 96 96 96;
  --gray-9: 110 110 110;
  --gray-10: 123 123 123;
  --gray-11: 180 180 180;
  --gray-12: 238 238 238;
}
