:root,
.light {
  --blue-1: rgb(252 253 254);
  --blue-2: rgb(246 249 255);
  --blue-3: rgb(235 242 255);
  --blue-4: rgb(221 234 255);
  --blue-5: rgb(204 223 255);
  --blue-6: rgb(183 210 255);
  --blue-7: rgb(160 191 255);
  --blue-8: rgb(127 165 253);
  --blue-9: rgb(53 102 252);
  --blue-10: rgb(47 91 225);
  --blue-11: rgb(44 87 221);
  --blue-12: rgb(23 44 101);

  --orange-1: rgb(254 252 251);
  --orange-2: rgb(255 244 240);
  --orange-3: rgb(255 232 222);
  --orange-4: rgb(255 214 199);
  --orange-5: rgb(255 200 181);
  --orange-6: rgb(255 184 160);
  --orange-7: rgb(255 162 134);
  --orange-8: rgb(249 136 104);
  --orange-9: rgb(255 89 36);
  --orange-10: rgb(242 73 5);
  --orange-11: rgb(220 59 0);
  --orange-12: rgb(91 42 28);

  --purple-1: rgb(252 252 255);
  --purple-2: rgb(249 248 255);
  --purple-3: rgb(242 240 255);
  --purple-4: rgb(231 228 255);
  --purple-5: rgb(221 216 255);
  --purple-6: rgb(208 201 255);
  --purple-7: rgb(189 179 255);
  --purple-8: rgb(165 149 255);
  --purple-9: rgb(128 85 253);
  --purple-10: rgb(116 71 236);
  --purple-11: rgb(104 65 211);
  --purple-12: rgb(50 30 108);

  --red-1: rgb(255 252 252);
  --red-2: rgb(255 247 246);
  --red-3: rgb(255 235 233);
  --red-4: rgb(255 218 214);
  --red-5: rgb(255 203 198);
  --red-6: rgb(255 186 181);
  --red-7: rgb(252 165 160);
  --red-8: rgb(244 137 132);
  --red-9: rgb(248 59 69);
  --red-10: rgb(234 38 56);
  --red-11: rgb(216 6 42);
  --red-12: rgb(106 13 20);

  --green-1: rgb(251 254 252);
  --green-2: rgb(244 251 247);
  --green-3: rgb(229 246 236);
  --green-4: rgb(213 241 224);
  --green-5: rgb(195 232 210);
  --green-6: rgb(173 222 192);
  --green-7: rgb(142 206 169);
  --green-8: rgb(95 184 136);
  --green-9: rgb(43 154 102);
  --green-10: rgb(22 141 90);
  --green-11: rgb(0 129 79);
  --green-12: rgb(28 59 42);

  --gray-1: rgb(255 255 255);
  --gray-2: rgb(248 248 248);
  --gray-3: rgb(241 241 241);
  --gray-4: rgb(232 232 232);
  --gray-5: rgb(224 224 224);
  --gray-6: rgb(223 223 223);
  --gray-7: rgb(206 206 206);
  --gray-8: rgb(187 187 187);
  --gray-9: rgb(141 141 141);
  --gray-10: rgb(131 131 131);
  --gray-11: rgb(70 70 70);
  --gray-12: rgb(32 32 32);
}

.dark {
  --blue-1: rgb(7 13 26);
  --blue-2: rgb(15 22 39);
  --blue-3: rgb(18 35 78);
  --blue-4: rgb(22 44 106);
  --blue-5: rgb(29 55 126);
  --blue-6: rgb(37 66 143);
  --blue-7: rgb(46 78 164);
  --blue-8: rgb(54 91 193);
  --blue-9: rgb(53 102 252);
  --blue-10: rgb(42 87 236);
  --blue-11: rgb(141 180 255);
  --blue-12: rgb(209 226 255);

  --orange-1: rgb(18 11 9);
  --orange-2: rgb(31 20 17);
  --orange-3: rgb(55 24 16);
  --orange-4: rgb(78 22 6);
  --orange-5: rgb(94 30 11);
  --orange-6: rgb(110 44 24);
  --orange-7: rgb(135 60 38);
  --orange-8: rgb(173 77 49);
  --orange-9: rgb(255 89 36);
  --orange-10: rgb(241 75 15);
  --orange-11: rgb(255 151 118);
  --orange-12: rgb(255 215 202);

  --purple-1: rgb(13 10 27);
  --purple-2: rgb(23 19 42);
  --purple-3: rgb(38 27 79);
  --purple-4: rgb(50 30 108);
  --purple-5: rgb(59 37 124);
  --purple-6: rgb(70 49 139);
  --purple-7: rgb(84 62 162);
  --purple-8: rgb(104 76 199);
  --purple-9: rgb(128 85 253);
  --purple-10: rgb(116 70 238);
  --purple-11: rgb(180 166 255);
  --purple-12: rgb(224 220 255);

  --red-1: rgb(19 10 10);
  --red-2: rgb(32 18 17);
  --red-3: rgb(62 14 15);
  --red-4: rgb(85 5 12);
  --red-5: rgb(103 11 19);
  --red-6: rgb(121 27 31);
  --red-7: rgb(147 43 45);
  --red-8: rgb(190 58 60);
  --red-9: rgb(248 59 69);
  --red-10: rgb(233 41 57);
  --red-11: rgb(255 143 137);
  --red-12: rgb(255 208 203);

  --green-1: rgb(13 19 15);
  --green-2: rgb(19 27 22);
  --green-3: rgb(21 44 32);
  --green-4: rgb(22 59 39);
  --green-5: rgb(28 72 49);
  --green-6: rgb(37 87 61);
  --green-7: rgb(45 103 73);
  --green-8: rgb(53 123 87);
  --green-9: rgb(43 154 102);
  --green-10: rgb(22 141 90);
  --green-11: rgb(104 208 152);
  --green-12: rgb(179 240 204);

  --gray-1: rgb(13 13 13);
  --gray-2: rgb(23 23 23);
  --gray-3: rgb(34 34 34);
  --gray-4: rgb(42 42 42);
  --gray-5: rgb(49 49 49);
  --gray-6: rgb(58 58 58);
  --gray-7: rgb(72 72 72);
  --gray-8: rgb(96 96 96);
  --gray-9: rgb(110 110 110);
  --gray-10: rgb(123 123 123);
  --gray-11: rgb(180 180 180);
  --gray-12: rgb(238 238 238);
}

@theme inline {
  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-3: var(--blue-3);
  --color-blue-4: var(--blue-4);
  --color-blue-5: var(--blue-5);
  --color-blue-6: var(--blue-6);
  --color-blue-7: var(--blue-7);
  --color-blue-8: var(--blue-8);
  --color-blue-9: var(--blue-9);
  --color-blue-10: var(--blue-10);
  --color-blue-11: var(--blue-11);
  --color-blue-12: var(--blue-12);

  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-orange-3: var(--orange-3);
  --color-orange-4: var(--orange-4);
  --color-orange-5: var(--orange-5);
  --color-orange-6: var(--orange-6);
  --color-orange-7: var(--orange-7);
  --color-orange-8: var(--orange-8);
  --color-orange-9: var(--orange-9);
  --color-orange-10: var(--orange-10);
  --color-orange-11: var(--orange-11);
  --color-orange-12: var(--orange-12);

  --color-purple-1: var(--purple-1);
  --color-purple-2: var(--purple-2);
  --color-purple-3: var(--purple-3);
  --color-purple-4: var(--purple-4);
  --color-purple-5: var(--purple-5);
  --color-purple-6: var(--purple-6);
  --color-purple-7: var(--purple-7);
  --color-purple-8: var(--purple-8);
  --color-purple-9: var(--purple-9);
  --color-purple-10: var(--purple-10);
  --color-purple-11: var(--purple-11);
  --color-purple-12: var(--purple-12);

  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);

  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-green-6: var(--green-6);
  --color-green-7: var(--green-7);
  --color-green-8: var(--green-8);
  --color-green-9: var(--green-9);
  --color-green-10: var(--green-10);
  --color-green-11: var(--green-11);
  --color-green-12: var(--green-12);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
}
