/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Outfit', sans-serif;
}

img {
  border-radius: 0.5rem;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

summary h3,
summary h4 {
  margin-bottom: 0;
}

summary h4 {
  padding-top: 3px;
}

details {
  background-color: transparent !important;
  border-color: transparent !important;
}

.sponsor-btn {
  background-color: var(--ifm-color-primary);
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none !important;
  margin-bottom: 10px;
}
