/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Outfit', sans-serif;
}

img {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

summary h3,
summary h4 {
  margin-bottom: 0;
}

summary h4 {
  padding-top: 3px;
}

details {
  background-color: transparent !important;
  border-color: transparent !important;
}

.sponsor-btn {
  background-color: var(--ifm-color-primary);
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none !important;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.arrow-icon {
  margin: 0 10px;
}

@media only screen and (max-width: 600px) {
  .flex {
    flex-direction: column;
  }

  .arrow-icon {
    margin: 10px 0;
    transform: rotate(90deg);
  }
}

.theme-api-markdown > table {
  font-size: 90%;
}

.theme-api-markdown table table {
  width: calc(100% - 16px) !important;
  margin-left: 16px;
}

.theme-api-markdown table table {
  border-left: 3px solid var(--ifm-table-stripe-background);
}

.theme-api-markdown table table tr:first-child {
  border-top: 0;
}

.theme-api-markdown table thead tr {
  border-bottom-width: 3px;
  border-top: 0;
}

.theme-api-markdown table tr {
  background-color: transparent;
}

.theme-api-markdown table th {
  border: 0;
}

.theme-api-markdown table td {
  border: 0;
}

.admonition {
  margin-bottom: 1rem;
}
.admonition-heading svg {
  margin-right: 0.5rem;
  fill: currentColor;
  width: 24px;
  height: 24px;
}

.admonition-heading {
  text-transform: capitalize;
}

.admonition-heading h5 {
  display: flex;
  align-items: center;
}

video {
  width: 100%;
}

.asterix {
  color: rgb(239, 81, 81);
}
