{
  "openapi": "3.0.3",
  "info": {
    "title": "Chat API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://typebot.io/api/v1"
    }
  ],
  "paths": {
    "/sendMessage": {
      "post": {
        "operationId": "query.chat.sendMessage",
        "summary": "Send a message",
        "description": "To initiate a chat, do not provide a `sessionId` nor a `message`.\n\nContinue the conversation by providing the `sessionId` and the `message` that should answer the previous question.\n\nSet the `isPreview` option to `true` to chat with the non-published version of the typebot.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "The answer to the previous chat input. Do not provide it if you are starting a new chat."
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Session ID that you get from the initial chat request to a bot. If not provided, it will create a new session."
                  },
                  "startParams": {
                    "type": "object",
                    "properties": {
                      "typebot": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "groups": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "graphCoordinates": {
                                      "type": "object",
                                      "properties": {
                                        "x": {
                                          "type": "number"
                                        },
                                        "y": {
                                          "type": "number"
                                        }
                                      },
                                      "required": [
                                        "x",
                                        "y"
                                      ],
                                      "additionalProperties": false
                                    },
                                    "blocks": {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "anyOf": [
                                              {
                                                "anyOf": [
                                                  {
                                                    "anyOf": [
                                                      {
                                                        "allOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "id": {
                                                                "type": "string"
                                                              },
                                                              "groupId": {
                                                                "type": "string"
                                                              },
                                                              "outgoingEdgeId": {
                                                                "type": "string"
                                                              }
                                                            },
                                                            "required": [
                                                              "id",
                                                              "groupId"
                                                            ],
                                                            "additionalProperties": false
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "start"
                                                                ]
                                                              },
                                                              "label": {
                                                                "type": "string"
                                                              }
                                                            },
                                                            "required": [
                                                              "type",
                                                              "label"
                                                            ],
                                                            "additionalProperties": false
                                                          }
                                                        ]
                                                      },
                                                      {
                                                        "anyOf": [
                                                          {
                                                            "anyOf": [
                                                              {
                                                                "anyOf": [
                                                                  {
                                                                    "anyOf": [
                                                                      {
                                                                        "allOf": [
                                                                          {
                                                                            "type": "object",
                                                                            "properties": {
                                                                              "id": {
                                                                                "type": "string"
                                                                              },
                                                                              "groupId": {
                                                                                "type": "string"
                                                                              },
                                                                              "outgoingEdgeId": {
                                                                                "type": "string"
                                                                              }
                                                                            },
                                                                            "required": [
                                                                              "id",
                                                                              "groupId"
                                                                            ],
                                                                            "additionalProperties": false
                                                                          },
                                                                          {
                                                                            "type": "object",
                                                                            "properties": {
                                                                              "type": {
                                                                                "type": "string",
                                                                                "enum": [
                                                                                  "text"
                                                                                ]
                                                                              },
                                                                              "content": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                  "html": {
                                                                                    "type": "string"
                                                                                  },
                                                                                  "richText": {
                                                                                    "type": "array"
                                                                                  },
                                                                                  "plainText": {
                                                                                    "type": "string"
                                                                                  }
                                                                                },
                                                                                "required": [
                                                                                  "html",
                                                                                  "richText",
                                                                                  "plainText"
                                                                                ],
                                                                                "additionalProperties": false
                                                                              }
                                                                            },
                                                                            "required": [
                                                                              "type",
                                                                              "content"
                                                                            ],
                                                                            "additionalProperties": false
                                                                          }
                                                                        ]
                                                                      },
                                                                      {
                                                                        "allOf": [
                                                                          {
                                                                            "type": "object",
                                                                            "properties": {
                                                                              "id": {
                                                                                "type": "string"
                                                                              },
                                                                              "groupId": {
                                                                                "type": "string"
                                                                              },
                                                                              "outgoingEdgeId": {
                                                                                "type": "string"
                                                                              }
                                                                            },
                                                                            "required": [
                                                                              "id",
                                                                              "groupId"
                                                                            ],
                                                                            "additionalProperties": false
                                                                          },
                                                                          {
                                                                            "type": "object",
                                                                            "properties": {
                                                                              "type": {
                                                                                "type": "string",
                                                                                "enum": [
                                                                                  "image"
                                                                                ]
                                                                              },
                                                                              "content": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                  "url": {
                                                                                    "type": "string"
                                                                                  }
                                                                                },
                                                                                "additionalProperties": false
                                                                              }
                                                                            },
                                                                            "required": [
                                                                              "type",
                                                                              "content"
                                                                            ],
                                                                            "additionalProperties": false
                                                                          }
                                                                        ]
                                                                      }
                                                                    ]
                                                                  },
                                                                  {
                                                                    "allOf": [
                                                                      {
                                                                        "type": "object",
                                                                        "properties": {
                                                                          "id": {
                                                                            "type": "string"
                                                                          },
                                                                          "groupId": {
                                                                            "type": "string"
                                                                          },
                                                                          "outgoingEdgeId": {
                                                                            "type": "string"
                                                                          }
                                                                        },
                                                                        "required": [
                                                                          "id",
                                                                          "groupId"
                                                                        ],
                                                                        "additionalProperties": false
                                                                      },
                                                                      {
                                                                        "type": "object",
                                                                        "properties": {
                                                                          "type": {
                                                                            "type": "string",
                                                                            "enum": [
                                                                              "video"
                                                                            ]
                                                                          },
                                                                          "content": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                              "url": {
                                                                                "type": "string"
                                                                              },
                                                                              "id": {
                                                                                "type": "string"
                                                                              },
                                                                              "type": {
                                                                                "type": "string",
                                                                                "enum": [
                                                                                  "url",
                                                                                  "youtube",
                                                                                  "vimeo"
                                                                                ]
                                                                              }
                                                                            },
                                                                            "additionalProperties": false
                                                                          }
                                                                        },
                                                                        "required": [
                                                                          "type",
                                                                          "content"
                                                                        ],
                                                                        "additionalProperties": false
                                                                      }
                                                                    ]
                                                                  }
                                                                ]
                                                              },
                                                              {
                                                                "allOf": [
                                                                  {
                                                                    "type": "object",
                                                                    "properties": {
                                                                      "id": {
                                                                        "type": "string"
                                                                      },
                                                                      "groupId": {
                                                                        "type": "string"
                                                                      },
                                                                      "outgoingEdgeId": {
                                                                        "type": "string"
                                                                      }
                                                                    },
                                                                    "required": [
                                                                      "id",
                                                                      "groupId"
                                                                    ],
                                                                    "additionalProperties": false
                                                                  },
                                                                  {
                                                                    "type": "object",
                                                                    "properties": {
                                                                      "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                          "embed"
                                                                        ]
                                                                      },
                                                                      "content": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                          "url": {
                                                                            "type": "string"
                                                                          },
                                                                          "height": {
                                                                            "anyOf": [
                                                                              {
                                                                                "type": "number"
                                                                              },
                                                                              {}
                                                                            ]
                                                                          }
                                                                        },
                                                                        "required": [
                                                                          "height"
                                                                        ],
                                                                        "additionalProperties": false
                                                                      }
                                                                    },
                                                                    "required": [
                                                                      "type",
                                                                      "content"
                                                                    ],
                                                                    "additionalProperties": false
                                                                  }
                                                                ]
                                                              }
                                                            ]
                                                          },
                                                          {
                                                            "allOf": [
                                                              {
                                                                "type": "object",
                                                                "properties": {
                                                                  "id": {
                                                                    "type": "string"
                                                                  },
                                                                  "groupId": {
                                                                    "type": "string"
                                                                  },
                                                                  "outgoingEdgeId": {
                                                                    "type": "string"
                                                                  }
                                                                },
                                                                "required": [
                                                                  "id",
                                                                  "groupId"
                                                                ],
                                                                "additionalProperties": false
                                                              },
                                                              {
                                                                "type": "object",
                                                                "properties": {
                                                                  "type": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                      "audio"
                                                                    ]
                                                                  },
                                                                  "content": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                      "url": {
                                                                        "type": "string"
                                                                      }
                                                                    },
                                                                    "additionalProperties": false
                                                                  }
                                                                },
                                                                "required": [
                                                                  "type",
                                                                  "content"
                                                                ],
                                                                "additionalProperties": false
                                                              }
                                                            ]
                                                          }
                                                        ]
                                                      }
                                                    ]
                                                  },
                                                  {
                                                    "anyOf": [
                                                      {
                                                        "anyOf": [
                                                          {
                                                            "anyOf": [
                                                              {
                                                                "anyOf": [
                                                                  {
                                                                    "anyOf": [
                                                                      {
                                                                        "anyOf": [
                                                                          {
                                                                            "anyOf": [
                                                                              {
                                                                                "anyOf": [
                                                                                  {
                                                                                    "anyOf": [
                                                                                      {
                                                                                        "allOf": [
                                                                                          {
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                              "id": {
                                                                                                "type": "string"
                                                                                              },
                                                                                              "groupId": {
                                                                                                "type": "string"
                                                                                              },
                                                                                              "outgoingEdgeId": {
                                                                                                "type": "string"
                                                                                              }
                                                                                            },
                                                                                            "required": [
                                                                                              "id",
                                                                                              "groupId"
                                                                                            ],
                                                                                            "additionalProperties": false
                                                                                          },
                                                                                          {
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                              "type": {
                                                                                                "type": "string",
                                                                                                "enum": [
                                                                                                  "text input"
                                                                                                ]
                                                                                              },
                                                                                              "options": {
                                                                                                "allOf": [
                                                                                                  {
                                                                                                    "allOf": [
                                                                                                      {
                                                                                                        "type": "object",
                                                                                                        "properties": {
                                                                                                          "labels": {
                                                                                                            "type": "object",
                                                                                                            "properties": {
                                                                                                              "placeholder": {
                                                                                                                "type": "string"
                                                                                                              },
                                                                                                              "button": {
                                                                                                                "type": "string"
                                                                                                              }
                                                                                                            },
                                                                                                            "required": [
                                                                                                              "placeholder",
                                                                                                              "button"
                                                                                                            ],
                                                                                                            "additionalProperties": false
                                                                                                          }
                                                                                                        },
                                                                                                        "required": [
                                                                                                          "labels"
                                                                                                        ],
                                                                                                        "additionalProperties": false
                                                                                                      },
                                                                                                      {
                                                                                                        "type": "object",
                                                                                                        "properties": {
                                                                                                          "variableId": {
                                                                                                            "type": "string"
                                                                                                          }
                                                                                                        },
                                                                                                        "additionalProperties": false
                                                                                                      }
                                                                                                    ]
                                                                                                  },
                                                                                                  {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                      "isLong": {
                                                                                                        "type": "boolean"
                                                                                                      }
                                                                                                    },
                                                                                                    "required": [
                                                                                                      "isLong"
                                                                                                    ],
                                                                                                    "additionalProperties": false
                                                                                                  }
                                                                                                ]
                                                                                              }
                                                                                            },
                                                                                            "required": [
                                                                                              "type",
                                                                                              "options"
                                                                                            ],
                                                                                            "additionalProperties": false
                                                                                          }
                                                                                        ]
                                                                                      },
                                                                                      {
                                                                                        "allOf": [
                                                                                          {
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                              "id": {
                                                                                                "type": "string"
                                                                                              },
                                                                                              "groupId": {
                                                                                                "type": "string"
                                                                                              },
                                                                                              "outgoingEdgeId": {
                                                                                                "type": "string"
                                                                                              }
                                                                                            },
                                                                                            "required": [
                                                                                              "id",
                                                                                              "groupId"
                                                                                            ],
                                                                                            "additionalProperties": false
                                                                                          },
                                                                                          {
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                              "type": {
                                                                                                "type": "string",
                                                                                                "enum": [
                                                                                                  "number input"
                                                                                                ]
                                                                                              },
                                                                                              "options": {
                                                                                                "allOf": [
                                                                                                  {
                                                                                                    "allOf": [
                                                                                                      {
                                                                                                        "type": "object",
                                                                                                        "properties": {
                                                                                                          "variableId": {
                                                                                                            "type": "string"
                                                                                                          }
                                                                                                        },
                                                                                                        "additionalProperties": false
                                                                                                      },
                                                                                                      {
                                                                                                        "type": "object",
                                                                                                        "properties": {
                                                                                                          "labels": {
                                                                                                            "type": "object",
                                                                                                            "properties": {
                                                                                                              "placeholder": {
                                                                                                                "type": "string"
                                                                                                              },
                                                                                                              "button": {
                                                                                                                "type": "string"
                                                                                                              }
                                                                                                            },
                                                                                                            "required": [
                                                                                                              "placeholder",
                                                                                                              "button"
                                                                                                            ],
                                                                                                            "additionalProperties": false
                                                                                                          }
                                                                                                        },
                                                                                                        "required": [
                                                                                                          "labels"
                                                                                                        ],
                                                                                                        "additionalProperties": false
                                                                                                      }
                                                                                                    ]
                                                                                                  },
                                                                                                  {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                      "min": {
                                                                                                        "type": "number"
                                                                                                      },
                                                                                                      "max": {
                                                                                                        "type": "number"
                                                                                                      },
                                                                                                      "step": {
                                                                                                        "type": "number"
                                                                                                      }
                                                                                                    },
                                                                                                    "additionalProperties": false
                                                                                                  }
                                                                                                ]
                                                                                              }
                                                                                            },
                                                                                            "required": [
                                                                                              "type",
                                                                                              "options"
                                                                                            ],
                                                                                            "additionalProperties": false
                                                                                          }
                                                                                        ]
                                                                                      }
                                                                                    ]
                                                                                  },
                                                                                  {
                                                                                    "allOf": [
                                                                                      {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                          "id": {
                                                                                            "type": "string"
                                                                                          },
                                                                                          "groupId": {
                                                                                            "type": "string"
                                                                                          },
                                                                                          "outgoingEdgeId": {
                                                                                            "type": "string"
                                                                                          }
                                                                                        },
                                                                                        "required": [
                                                                                          "id",
                                                                                          "groupId"
                                                                                        ],
                                                                                        "additionalProperties": false
                                                                                      },
                                                                                      {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                          "type": {
                                                                                            "type": "string",
                                                                                            "enum": [
                                                                                              "email input"
                                                                                            ]
                                                                                          },
                                                                                          "options": {
                                                                                            "allOf": [
                                                                                              {
                                                                                                "allOf": [
                                                                                                  {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                      "variableId": {
                                                                                                        "type": "string"
                                                                                                      }
                                                                                                    },
                                                                                                    "additionalProperties": false
                                                                                                  },
                                                                                                  {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                      "labels": {
                                                                                                        "type": "object",
                                                                                                        "properties": {
                                                                                                          "placeholder": {
                                                                                                            "type": "string"
                                                                                                          },
                                                                                                          "button": {
                                                                                                            "type": "string"
                                                                                                          }
                                                                                                        },
                                                                                                        "required": [
                                                                                                          "placeholder",
                                                                                                          "button"
                                                                                                        ],
                                                                                                        "additionalProperties": false
                                                                                                      }
                                                                                                    },
                                                                                                    "required": [
                                                                                                      "labels"
                                                                                                    ],
                                                                                                    "additionalProperties": false
                                                                                                  }
                                                                                                ]
                                                                                              },
                                                                                              {
                                                                                                "type": "object",
                                                                                                "properties": {
                                                                                                  "retryMessageContent": {
                                                                                                    "type": "string"
                                                                                                  }
                                                                                                },
                                                                                                "required": [
                                                                                                  "retryMessageContent"
                                                                                                ],
                                                                                                "additionalProperties": false
                                                                                              }
                                                                                            ]
                                                                                          }
                                                                                        },
                                                                                        "required": [
                                                                                          "type",
                                                                                          "options"
                                                                                        ],
                                                                                        "additionalProperties": false
                                                                                      }
                                                                                    ]
                                                                                  }
                                                                                ]
                                                                              },
                                                                              {
                                                                                "allOf": [
                                                                                  {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                      "id": {
                                                                                        "type": "string"
                                                                                      },
                                                                                      "groupId": {
                                                                                        "type": "string"
                                                                                      },
                                                                                      "outgoingEdgeId": {
                                                                                        "type": "string"
                                                                                      }
                                                                                    },
                                                                                    "required": [
                                                                                      "id",
                                                                                      "groupId"
                                                                                    ],
                                                                                    "additionalProperties": false
                                                                                  },
                                                                                  {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                      "type": {
                                                                                        "type": "string",
                                                                                        "enum": [
                                                                                          "url input"
                                                                                        ]
                                                                                      },
                                                                                      "options": {
                                                                                        "allOf": [
                                                                                          {
                                                                                            "allOf": [
                                                                                              {
                                                                                                "type": "object",
                                                                                                "properties": {
                                                                                                  "variableId": {
                                                                                                    "type": "string"
                                                                                                  }
                                                                                                },
                                                                                                "additionalProperties": false
                                                                                              },
                                                                                              {
                                                                                                "type": "object",
                                                                                                "properties": {
                                                                                                  "labels": {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                      "placeholder": {
                                                                                                        "type": "string"
                                                                                                      },
                                                                                                      "button": {
                                                                                                        "type": "string"
                                                                                                      }
                                                                                                    },
                                                                                                    "required": [
                                                                                                      "placeholder",
                                                                                                      "button"
                                                                                                    ],
                                                                                                    "additionalProperties": false
                                                                                                  }
                                                                                                },
                                                                                                "required": [
                                                                                                  "labels"
                                                                                                ],
                                                                                                "additionalProperties": false
                                                                                              }
                                                                                            ]
                                                                                          },
                                                                                          {
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                              "retryMessageContent": {
                                                                                                "type": "string"
                                                                                              }
                                                                                            },
                                                                                            "required": [
                                                                                              "retryMessageContent"
                                                                                            ],
                                                                                            "additionalProperties": false
                                                                                          }
                                                                                        ]
                                                                                      }
                                                                                    },
                                                                                    "required": [
                                                                                      "type",
                                                                                      "options"
                                                                                    ],
                                                                                    "additionalProperties": false
                                                                                  }
                                                                                ]
                                                                              }
                                                                            ]
                                                                          },
                                                                          {
                                                                            "allOf": [
                                                                              {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                  "id": {
                                                                                    "type": "string"
                                                                                  },
                                                                                  "groupId": {
                                                                                    "type": "string"
                                                                                  },
                                                                                  "outgoingEdgeId": {
                                                                                    "type": "string"
                                                                                  }
                                                                                },
                                                                                "required": [
                                                                                  "id",
                                                                                  "groupId"
                                                                                ],
                                                                                "additionalProperties": false
                                                                              },
                                                                              {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                  "type": {
                                                                                    "type": "string",
                                                                                    "enum": [
                                                                                      "date input"
                                                                                    ]
                                                                                  },
                                                                                  "options": {
                                                                                    "allOf": [
                                                                                      {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                          "variableId": {
                                                                                            "type": "string"
                                                                                          }
                                                                                        },
                                                                                        "additionalProperties": false
                                                                                      },
                                                                                      {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                          "labels": {
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                              "button": {
                                                                                                "type": "string"
                                                                                              },
                                                                                              "from": {
                                                                                                "type": "string"
                                                                                              },
                                                                                              "to": {
                                                                                                "type": "string"
                                                                                              }
                                                                                            },
                                                                                            "required": [
                                                                                              "button",
                                                                                              "from",
                                                                                              "to"
                                                                                            ],
                                                                                            "additionalProperties": false
                                                                                          },
                                                                                          "hasTime": {
                                                                                            "type": "boolean"
                                                                                          },
                                                                                          "isRange": {
                                                                                            "type": "boolean"
                                                                                          }
                                                                                        },
                                                                                        "required": [
                                                                                          "labels",
                                                                                          "hasTime",
                                                                                          "isRange"
                                                                                        ],
                                                                                        "additionalProperties": false
                                                                                      }
                                                                                    ]
                                                                                  }
                                                                                },
                                                                                "required": [
                                                                                  "type",
                                                                                  "options"
                                                                                ],
                                                                                "additionalProperties": false
                                                                              }
                                                                            ]
                                                                          }
                                                                        ]
                                                                      },
                                                                      {
                                                                        "allOf": [
                                                                          {
                                                                            "type": "object",
                                                                            "properties": {
                                                                              "id": {
                                                                                "type": "string"
                                                                              },
                                                                              "groupId": {
                                                                                "type": "string"
                                                                              },
                                                                              "outgoingEdgeId": {
                                                                                "type": "string"
                                                                              }
                                                                            },
                                                                            "required": [
                                                                              "id",
                                                                              "groupId"
                                                                            ],
                                                                            "additionalProperties": false
                                                                          },
                                                                          {
                                                                            "type": "object",
                                                                            "properties": {
                                                                              "type": {
                                                                                "type": "string",
                                                                                "enum": [
                                                                                  "phone number input"
                                                                                ]
                                                                              },
                                                                              "options": {
                                                                                "allOf": [
                                                                                  {
                                                                                    "allOf": [
                                                                                      {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                          "variableId": {
                                                                                            "type": "string"
                                                                                          }
                                                                                        },
                                                                                        "additionalProperties": false
                                                                                      },
                                                                                      {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                          "labels": {
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                              "placeholder": {
                                                                                                "type": "string"
                                                                                              },
                                                                                              "button": {
                                                                                                "type": "string"
                                                                                              }
                                                                                            },
                                                                                            "required": [
                                                                                              "placeholder",
                                                                                              "button"
                                                                                            ],
                                                                                            "additionalProperties": false
                                                                                          }
                                                                                        },
                                                                                        "required": [
                                                                                          "labels"
                                                                                        ],
                                                                                        "additionalProperties": false
                                                                                      }
                                                                                    ]
                                                                                  },
                                                                                  {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                      "retryMessageContent": {
                                                                                        "type": "string"
                                                                                      },
                                                                                      "defaultCountryCode": {
                                                                                        "type": "string"
                                                                                      }
                                                                                    },
                                                                                    "required": [
                                                                                      "retryMessageContent"
                                                                                    ],
                                                                                    "additionalProperties": false
                                                                                  }
                                                                                ]
                                                                              }
                                                                            },
                                                                            "required": [
                                                                              "type",
                                                                              "options"
                                                                            ],
                                                                            "additionalProperties": false
                                                                          }
                                                                        ]
                                                                      }
                                                                    ]
                                                                  },
                                                                  {
                                                                    "allOf": [
                                                                      {
                                                                        "type": "object",
                                                                        "properties": {
                                                                          "id": {
                                                                            "type": "string"
                                                                          },
                                                                          "groupId": {
                                                                            "type": "string"
                                                                          },
                                                                          "outgoingEdgeId": {
                                                                            "type": "string"
                                                                          }
                                                                        },
                                                                        "required": [
                                                                          "id",
                                                                          "groupId"
                                                                        ],
                                                                        "additionalProperties": false
                                                                      },
                                                                      {
                                                                        "type": "object",
                                                                        "properties": {
                                                                          "type": {
                                                                            "type": "string",
                                                                            "enum": [
                                                                              "choice input"
                                                                            ]
                                                                          },
                                                                          "items": {
                                                                            "type": "array",
                                                                            "items": {
                                                                              "allOf": [
                                                                                {
                                                                                  "type": "object",
                                                                                  "properties": {
                                                                                    "id": {
                                                                                      "type": "string"
                                                                                    },
                                                                                    "blockId": {
                                                                                      "type": "string"
                                                                                    },
                                                                                    "outgoingEdgeId": {
                                                                                      "type": "string"
                                                                                    }
                                                                                  },
                                                                                  "required": [
                                                                                    "id",
                                                                                    "blockId"
                                                                                  ],
                                                                                  "additionalProperties": false
                                                                                },
                                                                                {
                                                                                  "type": "object",
                                                                                  "properties": {
                                                                                    "type": {
                                                                                      "type": "number",
                                                                                      "enum": [
                                                                                        0
                                                                                      ]
                                                                                    },
                                                                                    "content": {
                                                                                      "type": "string"
                                                                                    }
                                                                                  },
                                                                                  "required": [
                                                                                    "type"
                                                                                  ],
                                                                                  "additionalProperties": false
                                                                                }
                                                                              ]
                                                                            }
                                                                          },
                                                                          "options": {
                                                                            "allOf": [
                                                                              {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                  "variableId": {
                                                                                    "type": "string"
                                                                                  }
                                                                                },
                                                                                "additionalProperties": false
                                                                              },
                                                                              {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                  "isMultipleChoice": {
                                                                                    "type": "boolean"
                                                                                  },
                                                                                  "buttonLabel": {
                                                                                    "type": "string"
                                                                                  },
                                                                                  "dynamicVariableId": {
                                                                                    "type": "string"
                                                                                  }
                                                                                },
                                                                                "required": [
                                                                                  "isMultipleChoice",
                                                                                  "buttonLabel"
                                                                                ],
                                                                                "additionalProperties": false
                                                                              }
                                                                            ]
                                                                          }
                                                                        },
                                                                        "required": [
                                                                          "type",
                                                                          "items",
[...]
