{
  "openapi": "3.0.3",
  "info": {
    "title": "Chat API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://typebot.io/api/v1"
    }
  ],
  "paths": {
    "/sendMessage": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a message",
        "description": "To initiate a chat, do not provide a `sessionId` nor a `message`.\n\nContinue the conversation by providing the `sessionId` and the `message` that should answer the previous question.\n\nSet the `isPreview` option to `true` to chat with the non-published version of the typebot.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "The answer to the previous chat input. Do not provide it if you are starting a new chat."
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Session ID that you get from the initial chat request to a bot. If not provided, it will create a new session."
                  },
                  "startParams": {
                    "type": "object",
                    "properties": {
                      "typebot": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "version": {
                                "type": "string",
                                "enum": [
                                  "3",
                                  "4",
                                  "5"
                                ],
                                "nullable": true
                              },
                              "id": {
                                "type": "string"
                              },
                              "groups": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "graphCoordinates": {
                                      "type": "object",
                                      "properties": {
                                        "x": {
                                          "type": "number"
                                        },
                                        "y": {
                                          "type": "number"
                                        }
                                      },
                                      "required": [
                                        "x",
                                        "y"
                                      ],
                                      "additionalProperties": false
                                    },
                                    "blocks": {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "start"
                                                ]
                                              },
                                              "label": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "label"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "text"
                                                ]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "html": {
                                                    "type": "string"
                                                  },
                                                  "richText": {
                                                    "type": "array"
                                                  },
                                                  "plainText": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "richText"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "content"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "image"
                                                ]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "clickLink": {
                                                    "type": "object",
                                                    "properties": {
                                                      "url": {
                                                        "type": "string"
                                                      },
                                                      "alt": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "content"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "video"
                                                ]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "url",
                                                      "youtube",
                                                      "vimeo"
                                                    ]
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "content"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "embed"
                                                ]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "height": {
                                                    "anyOf": [
                                                      {
                                                        "type": "number"
                                                      },
                                                      {}
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "height"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "content"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "audio"
                                                ]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "isAutoplayEnabled": {
                                                    "type": "boolean"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "content"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "text input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "placeholder": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "placeholder",
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "isLong": {
                                                    "type": "boolean"
                                                  }
                                                },
                                                "required": [
                                                  "labels",
                                                  "isLong"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "choice input"
                                                ]
                                              },
                                              "items": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "blockId": {
                                                      "type": "string",
                                                      "description": "Deprecated"
                                                    },
                                                    "outgoingEdgeId": {
                                                      "type": "string"
                                                    },
                                                    "type": {
                                                      "type": "number",
                                                      "enum": [
                                                        0
                                                      ]
                                                    },
                                                    "content": {
                                                      "type": "string"
                                                    },
                                                    "displayCondition": {
                                                      "type": "object",
                                                      "properties": {
                                                        "isEnabled": {
                                                          "type": "boolean"
                                                        },
                                                        "condition": {
                                                          "type": "object",
                                                          "properties": {
                                                            "logicalOperator": {
                                                              "type": "string",
                                                              "enum": [
                                                                "OR",
                                                                "AND"
                                                              ]
                                                            },
                                                            "comparisons": {
                                                              "type": "array",
                                                              "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "id": {
                                                                    "type": "string"
                                                                  },
                                                                  "variableId": {
                                                                    "type": "string"
                                                                  },
                                                                  "comparisonOperator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                      "Equal to",
                                                                      "Not equal",
                                                                      "Contains",
                                                                      "Does not contain",
                                                                      "Greater than",
                                                                      "Less than",
                                                                      "Is set",
                                                                      "Is empty",
                                                                      "Starts with",
                                                                      "Ends with",
                                                                      "Matches regex",
                                                                      "Does not match regex"
                                                                    ]
                                                                  },
                                                                  "value": {
                                                                    "type": "string"
                                                                  }
                                                                },
                                                                "required": [
                                                                  "id"
                                                                ],
                                                                "additionalProperties": false
                                                              }
                                                            }
                                                          },
                                                          "required": [
                                                            "logicalOperator",
                                                            "comparisons"
                                                          ],
                                                          "additionalProperties": false
                                                        }
                                                      },
                                                      "additionalProperties": false
                                                    }
                                                  },
                                                  "required": [
                                                    "id",
                                                    "type"
                                                  ],
                                                  "additionalProperties": false
                                                }
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "isMultipleChoice": {
                                                    "type": "boolean"
                                                  },
                                                  "buttonLabel": {
                                                    "type": "string"
                                                  },
                                                  "dynamicVariableId": {
                                                    "type": "string"
                                                  },
                                                  "isSearchable": {
                                                    "type": "boolean"
                                                  },
                                                  "searchInputPlaceholder": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "isMultipleChoice",
                                                  "buttonLabel"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "items",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "email input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "placeholder": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "placeholder",
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "retryMessageContent": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "labels"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "number input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "placeholder": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "placeholder",
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "min": {
                                                    "anyOf": [
                                                      {
                                                        "type": "number"
                                                      },
                                                      {}
                                                    ]
                                                  },
                                                  "max": {
                                                    "anyOf": [
                                                      {
                                                        "type": "number"
                                                      },
                                                      {}
                                                    ]
                                                  },
                                                  "step": {
                                                    "anyOf": [
                                                      {
                                                        "type": "number"
                                                      },
                                                      {}
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "labels"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "url input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "placeholder": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "placeholder",
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "retryMessageContent": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "labels",
                                                  "retryMessageContent"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "phone number input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "placeholder": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "placeholder",
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "retryMessageContent": {
                                                    "type": "string"
                                                  },
                                                  "defaultCountryCode": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "labels",
                                                  "retryMessageContent"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "date input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "button": {
                                                        "type": "string"
                                                      },
                                                      "from": {
                                                        "type": "string"
                                                      },
                                                      "to": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "button",
                                                      "from",
                                                      "to"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "hasTime": {
                                                    "type": "boolean"
                                                  },
                                                  "isRange": {
                                                    "type": "boolean"
                                                  },
                                                  "format": {
                                                    "type": "string"
                                                  },
                                                  "min": {
                                                    "type": "string"
                                                  },
                                                  "max": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "labels",
                                                  "hasTime",
                                                  "isRange"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "payment input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "provider": {
                                                    "type": "string",
                                                    "enum": [
                                                      "Stripe"
                                                    ]
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "button": {
                                                        "type": "string"
                                                      },
                                                      "success": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "additionalInformation": {
                                                    "type": "object",
                                                    "properties": {
                                                      "description": {
                                                        "type": "string"
                                                      },
                                                      "name": {
                                                        "type": "string"
                                                      },
                                                      "email": {
                                                        "type": "string"
                                                      },
                                                      "phoneNumber": {
                                                        "type": "string"
                                                      },
                                                      "address": {
                                                        "type": "object",
                                                        "properties": {
                                                          "country": {
                                                            "type": "string"
                                                          },
                                                          "line1": {
                                                            "type": "string"
                                                          },
                                                          "line2": {
                                                            "type": "string"
                                                          },
                                                          "state": {
                                                            "type": "string"
                                                          },
                                                          "city": {
                                                            "type": "string"
                                                          },
                                                          "postalCode": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "credentialsId": {
                                                    "type": "string"
                                                  },
                                                  "currency": {
                                                    "type": "string"
                                                  },
                                                  "amount": {
                                                    "type": "string"
                                                  },
                                                  "retryMessageContent": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "provider",
                                                  "labels",
                                                  "currency"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "rating input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "buttonType": {
                                                    "anyOf": [
                                                      {
                                                        "type": "string",
                                                        "enum": [
                                                          "Icons"
                                                        ]
                                                      },
                                                      {
                                                        "type": "string",
                                                        "enum": [
                                                          "Numbers"
                                                        ]
                                                      }
                                                    ]
                                                  },
                                                  "length": {
                                                    "type": "number"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "left": {
                                                        "type": "string"
                                                      },
                                                      "right": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "customIcon": {
                                                    "type": "object",
                                                    "properties": {
                                                      "isEnabled": {
                                                        "type": "boolean"
                                                      },
                                                      "svg": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "isEnabled"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "isOneClickSubmitEnabled": {
                                                    "type": "boolean"
                                                  }
                                                },
                                                "required": [
                                                  "buttonType",
                                                  "length",
                                                  "labels",
                                                  "customIcon"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "file input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "isRequired": {
                                                    "type": "boolean"
                                                  },
                                                  "isMultipleAllowed": {
                                                    "type": "boolean"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "placeholder": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      },
                                                      "clear": {
                                                        "type": "string"
                                                      },
                                                      "skip": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "placeholder",
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "sizeLimit": {
                                                    "type": "number"
                                                  }
                                                },
                                                "required": [
                                                  "isMultipleAllowed",
                                                  "labels"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "picture choice input"
                                                ]
                                              },
                                              "items": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "blockId": {
                                                      "type": "string",
                                                      "description": "Deprecated"
                                                    },
                                                    "outgoingEdgeId": {
                                                      "type": "string"
                                                    },
                                                    "type": {
                                                      "type": "number",
                                                      "enum": [
                                                        3
                                                      ]
                                                    },
                                                    "pictureSrc": {
                                                      "type": "string"
                                                    },
                                                    "title": {
                                                      "type": "string"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "displayCondition": {
                                                      "type": "object",
                                                      "properties": {
                                                        "isEnabled": {
                                                          "type": "boolean"
                                                        },
                                                        "condition": {
                                                          "type": "object",
                                                          "properties": {
                                                            "logicalOperator": {
                                                              "type": "string",
                                                              "enum": [
                                                                "OR",
                                                                "AND"
                                                              ]
                                                            },
                                                            "comparisons": {
                                                              "type": "array",
                                                              "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "id": {
                                                                    "type": "string"
                                                                  },
                                                                  "variableId": {
                                                                    "type": "string"
                                                                  },
                                                                  "comparisonOperator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                      "Equal to",
                                                                      "Not equal",
                                                                      "Contains",
                                                                      "Does not contain",
                                                                      "Greater than",
                                                                      "Less than",
                                                                      "Is set",
                                                                      "Is empty",
                                                                      "Starts with",
                                                                      "Ends with",
                                                                      "Matches regex",
                                                                      "Does not match regex"
                                                                    ]
                                                                  },
                                                                  "value": {
                                                                    "type": "string"
                                                                  }
                                                                },
                                                                "required": [
                                                                  "id"
                                                                ],
                                                                "additionalProperties": false
                                                              }
                                                            }
                                                          },
                                                          "required": [
                                                            "logicalOperator",
                                                            "comparisons"
                                                          ],
                                                          "additionalProperties": false
                                                        }
                                                      },
                                                      "additionalProperties": false
                                                    }
                                                  },
                                                  "required": [
                                                    "id",
                                                    "type"
                                                  ],
                                                  "additionalProperties": false
                                                }
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "isMultipleChoice": {
                                                    "type": "boolean"
                                                  },
                                                  "isSearchable": {
                                                    "type": "boolean"
                                                  },
                                                  "buttonLabel": {
                                                    "type": "string"
                                                  },
                                                  "searchInputPlaceholder": {
                                                    "type": "string"
                                                  },
                                                  "dynamicItems": {
                                                    "type": "object",
                                                    "properties": {
                                                      "isEnabled": {
                                                        "type": "boolean"
                                                      },
                                                      "titlesVariableId": {
                                                        "type": "string"
                                                      },
                                                      "descriptionsVariableId": {
                                                        "type": "string"
                                                      },
                                                      "pictureSrcsVariableId": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "required": [
                                                  "buttonLabel",
                                                  "searchInputPlaceholder"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "items",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "Code"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "content": {
                                                    "type": "string"
                                                  },
                                                  "shouldExecuteInParentContext": {
                                                    "type": "boolean"
                                                  }
                                                },
                                                "required": [
                                                  "name"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "Condition"
                                                ]
                                              },
                                              "items": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "blockId": {
                                                      "type": "string",
                                                      "description": "Deprecated"
                                                    },
                                                    "outgoingEdgeId": {
                                                      "type": "string"
                                                    },
                                                    "type": {
                                                      "type": "number",
                                                      "enum": [
                                                        1
                                                      ]
                                                    },
                                                    "content": {
                                                      "type": "object",
                                                      "properties": {
                                                        "logicalOperator": {
                                                          "type": "string",
                                                          "enum": [
                                                            "OR",
                                                            "AND"
                                                          ]
                                                        },
                                                        "comparisons": {
                                                          "type": "array",
                                                          "items": {
                                                            "type": "object",
                                                            "properties": {
                                                              "id": {
                                                                "type": "string"
                                                              },
                                                              "variableId": {
                                                                "type": "string"
                                                              },
                                                              "comparisonOperator": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "Equal to",
                                                                  "Not equal",
                                                                  "Contains",
                                                                  "Does not contain",
                                                                  "Greater than",
                                                                  "Less than",
                                                                  "Is set",
                                                                  "Is empty",
                                                                  "Starts with",
                                                                  "Ends with",
                                                                  "Matches regex",
                                                                  "Does not match regex"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              }
                                                            },
                                                            "required": [
                                                              "id"
                                                            ],
                                                            "additionalProperties": false
                                                          }
                                                        }
                                                      },
                                                      "required": [
                                                        "logicalOperator",
                                                        "comparisons"
                                                      ],
                                                      "additionalProperties": false
                                                    }
                                                  },
                                                  "required": [
                                                    "id",
                                                    "type",
                                                    "content"
                                                  ],
                                                  "additionalProperties": false
                                                }
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "items"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "Redirect"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "isNewTab": {
                                                    "type": "boolean"
                                                  }
                                                },
                                                "required": [
                                                  "isNewTab"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "Set variable"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "expressionToEvaluate": {
                                                    "type": "string"
                                                  },
                                                  "isCode": {
                                                    "type": "boolean"
                                                  },
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "Custom",
                                                      "Empty",
                                                      "User ID",
                                                      "Now",
                                                      "Today",
                                                      "Yesterday",
                                                      "Tomorrow",
                                                      "Random ID",
                                                      "Moment of the day",
                                                      "Map item with same index",
                                                      "Phone number",
                                                      "Contact name"
                                                    ]
                                                  },
                                                  "mapListItemParams": {
                                                    "type": "object",
                                                    "properties": {
                                                      "baseItemVariableId": {
                                                        "type": "string"
                                                      },
                                                      "baseListVariableId": {
                                                        "type": "string"
                                                      },
                                                      "targetListVariableId": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "isExecutedOnClient": {
                                                    "type": "boolean"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "Typebot link"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "typebotId": {
                                                    "type": "string"
                                                  },
                                                  "groupId": {
[...]
