.PhoneInputInput {
  padding: 1rem 0.5rem;
  outline: none !important;
  background: transparent;
  flex: 1 1 0%;
  width: 100%;
  font-size: 16px;
}

.PhoneInputCountry {
  padding-left: 0.5rem;
}

.PhoneInputCountryIcon,
.PhoneInputCountryIconImg {
  border-radius: 3px;
}
