{
  "openapi": "3.0.3",
  "info": {
    "title": "Builder API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.typebot.io/api/v1"
    }
  ],
  "paths": {
    "/t/process": {
      "post": {
        "operationId": "query.processTelemetryEvent",
        "description": "Only used for the cloud version of Typebot. It's the way it processes telemetry events and inject it to thrid-party services.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "events": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "workspaceId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "Workspace created"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "plan": {
                                  "type": "string",
                                  "enum": [
                                    "FREE",
                                    "STARTER",
                                    "PRO",
                                    "LIFETIME",
                                    "OFFERED",
                                    "CUSTOM",
                                    "UNLIMITED"
                                  ]
                                }
                              },
                              "required": [
                                "plan"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "workspaceId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "User created"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "email"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "workspaceId": {
                              "type": "string"
                            },
                            "typebotId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "Typebot created"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "template": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "workspaceId",
                            "typebotId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "workspaceId": {
                              "type": "string"
                            },
                            "typebotId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "Typebot published"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "isFirstPublish": {
                                  "type": "boolean",
                                  "enum": [
                                    true
                                  ]
                                }
                              },
                              "required": [
                                "name"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "workspaceId",
                            "typebotId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "workspaceId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "Subscription updated"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "plan": {
                                  "type": "string",
                                  "enum": [
                                    "FREE",
                                    "STARTER",
                                    "PRO",
                                    "LIFETIME",
                                    "OFFERED",
                                    "CUSTOM",
                                    "UNLIMITED"
                                  ]
                                },
                                "additionalChatsIndex": {
                                  "type": "number"
                                },
                                "additionalStorageIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "plan",
                                "additionalChatsIndex",
                                "additionalStorageIndex"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "workspaceId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "workspaceId": {
                              "type": "string"
                            },
                            "typebotId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "New results collected"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "number"
                                },
                                "isFirstOfKind": {
                                  "type": "boolean",
                                  "enum": [
                                    true
                                  ]
                                }
                              },
                              "required": [
                                "total"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "workspaceId",
                            "typebotId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    }
                  }
                },
                "required": [
                  "events"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Events injected"
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/linkedTypebots": {
      "get": {
        "operationId": "query.getLinkedTypebots",
        "summary": "Get linked typebots",
        "tags": [
          "Typebot"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "typebotIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma separated list of typebot ids"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "typebots": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "groups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "graphCoordinates": {
                                  "type": "object",
                                  "properties": {
                                    "x": {
                                      "type": "number"
                                    },
                                    "y": {
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "x",
                                    "y"
                                  ],
                                  "additionalProperties": false
                                },
                                "blocks": {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "start"
                                            ]
                                          },
                                          "label": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "label"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "text"
                                                ]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "html": {
                                                    "type": "string"
                                                  },
                                                  "richText": {
                                                    "type": "array"
                                                  },
                                                  "plainText": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "richText"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "content"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "image"
                                                ]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "clickLink": {
                                                    "type": "object",
                                                    "properties": {
                                                      "url": {
                                                        "type": "string"
                                                      },
                                                      "alt": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "content"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "video"
                                                ]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "url",
                                                      "youtube",
                                                      "vimeo"
                                                    ]
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "content"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "embed"
                                                ]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "height": {
                                                    "anyOf": [
                                                      {
                                                        "type": "number"
                                                      },
                                                      {}
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "height"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "content"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "audio"
                                                ]
                                              },
                                              "content": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "content"
                                            ],
                                            "additionalProperties": false
                                          }
                                        ]
                                      },
                                      {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "text input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "placeholder": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "placeholder",
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "isLong": {
                                                    "type": "boolean"
                                                  }
                                                },
                                                "required": [
                                                  "labels",
                                                  "isLong"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "choice input"
                                                ]
                                              },
                                              "items": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "blockId": {
                                                      "type": "string"
                                                    },
                                                    "outgoingEdgeId": {
                                                      "type": "string"
                                                    },
                                                    "type": {
                                                      "type": "number",
                                                      "enum": [
                                                        0
                                                      ]
                                                    },
                                                    "content": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "id",
                                                    "blockId",
                                                    "type"
                                                  ],
                                                  "additionalProperties": false
                                                }
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "isMultipleChoice": {
                                                    "type": "boolean"
                                                  },
                                                  "buttonLabel": {
                                                    "type": "string"
                                                  },
                                                  "dynamicVariableId": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "isMultipleChoice",
                                                  "buttonLabel"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "items",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "email input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "placeholder": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "placeholder",
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "retryMessageContent": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "labels",
                                                  "retryMessageContent"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "number input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "placeholder": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "placeholder",
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "min": {
                                                    "type": "number"
                                                  },
                                                  "max": {
                                                    "type": "number"
                                                  },
                                                  "step": {
                                                    "type": "number"
                                                  }
                                                },
                                                "required": [
                                                  "labels"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "url input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "placeholder": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "placeholder",
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "retryMessageContent": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "labels",
                                                  "retryMessageContent"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "phone number input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "placeholder": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "placeholder",
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "retryMessageContent": {
                                                    "type": "string"
                                                  },
                                                  "defaultCountryCode": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "labels",
                                                  "retryMessageContent"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "date input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "button": {
                                                        "type": "string"
                                                      },
                                                      "from": {
                                                        "type": "string"
                                                      },
                                                      "to": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "button",
                                                      "from",
                                                      "to"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "hasTime": {
                                                    "type": "boolean"
                                                  },
                                                  "isRange": {
                                                    "type": "boolean"
                                                  }
                                                },
                                                "required": [
                                                  "labels",
                                                  "hasTime",
                                                  "isRange"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "payment input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "provider": {
                                                    "type": "string",
                                                    "enum": [
                                                      "Stripe"
                                                    ]
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "button": {
                                                        "type": "string"
                                                      },
                                                      "success": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "additionalInformation": {
                                                    "type": "object",
                                                    "properties": {
                                                      "description": {
                                                        "type": "string"
                                                      },
                                                      "name": {
                                                        "type": "string"
                                                      },
                                                      "email": {
                                                        "type": "string"
                                                      },
                                                      "phoneNumber": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "credentialsId": {
                                                    "type": "string"
                                                  },
                                                  "currency": {
                                                    "type": "string"
                                                  },
                                                  "amount": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "provider",
                                                  "labels",
                                                  "currency"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "rating input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "buttonType": {
                                                    "anyOf": [
                                                      {
                                                        "type": "string",
                                                        "enum": [
                                                          "Icons"
                                                        ]
                                                      },
                                                      {
                                                        "type": "string",
                                                        "enum": [
                                                          "Numbers"
                                                        ]
                                                      }
                                                    ]
                                                  },
                                                  "length": {
                                                    "type": "number"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "left": {
                                                        "type": "string"
                                                      },
                                                      "right": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "customIcon": {
                                                    "type": "object",
                                                    "properties": {
                                                      "isEnabled": {
                                                        "type": "boolean"
                                                      },
                                                      "svg": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "isEnabled"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "isOneClickSubmitEnabled": {
                                                    "type": "boolean"
                                                  }
                                                },
                                                "required": [
                                                  "buttonType",
                                                  "length",
                                                  "labels",
                                                  "customIcon"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "file input"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "isRequired": {
                                                    "type": "boolean"
                                                  },
                                                  "isMultipleAllowed": {
                                                    "type": "boolean"
                                                  },
                                                  "labels": {
                                                    "type": "object",
                                                    "properties": {
                                                      "placeholder": {
                                                        "type": "string"
                                                      },
                                                      "button": {
                                                        "type": "string"
                                                      },
                                                      "clear": {
                                                        "type": "string"
                                                      },
                                                      "skip": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "placeholder",
                                                      "button"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "sizeLimit": {
                                                    "type": "number"
                                                  }
                                                },
                                                "required": [
                                                  "isMultipleAllowed",
                                                  "labels"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          }
                                        ]
                                      },
                                      {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "Code"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "content": {
                                                    "type": "string"
                                                  },
                                                  "shouldExecuteInParentContext": {
                                                    "type": "boolean"
                                                  }
                                                },
                                                "required": [
                                                  "name"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "Condition"
                                                ]
                                              },
                                              "items": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "blockId": {
                                                      "type": "string"
                                                    },
                                                    "outgoingEdgeId": {
                                                      "type": "string"
                                                    },
                                                    "type": {
                                                      "type": "number",
                                                      "enum": [
                                                        1
                                                      ]
                                                    },
                                                    "content": {
                                                      "type": "object",
                                                      "properties": {
                                                        "logicalOperator": {
                                                          "type": "string",
                                                          "enum": [
                                                            "OR",
                                                            "AND"
                                                          ]
                                                        },
                                                        "comparisons": {
                                                          "type": "array",
                                                          "items": {
                                                            "type": "object",
                                                            "properties": {
                                                              "id": {
                                                                "type": "string"
                                                              },
                                                              "variableId": {
                                                                "type": "string"
                                                              },
                                                              "comparisonOperator": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "Equal to",
                                                                  "Not equal",
                                                                  "Contains",
                                                                  "Does not contain",
                                                                  "Greater than",
                                                                  "Less than",
                                                                  "Is set",
                                                                  "Is empty",
                                                                  "Starts with",
                                                                  "Ends with"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              }
                                                            },
                                                            "required": [
                                                              "id"
                                                            ],
                                                            "additionalProperties": false
                                                          }
                                                        }
                                                      },
                                                      "required": [
                                                        "logicalOperator",
                                                        "comparisons"
                                                      ],
                                                      "additionalProperties": false
                                                    }
                                                  },
                                                  "required": [
                                                    "id",
                                                    "blockId",
                                                    "type",
                                                    "content"
                                                  ],
                                                  "additionalProperties": false
                                                }
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "items"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "Redirect"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "isNewTab": {
                                                    "type": "boolean"
                                                  }
                                                },
                                                "required": [
                                                  "isNewTab"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "Set variable"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "variableId": {
                                                    "type": "string"
                                                  },
                                                  "expressionToEvaluate": {
                                                    "type": "string"
                                                  },
                                                  "isCode": {
                                                    "type": "boolean"
                                                  },
                                                  "isExecutedOnClient": {
                                                    "type": "boolean"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "Typebot link"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "typebotId": {
                                                    "type": "string"
                                                  },
                                                  "groupId": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "Wait"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "secondsToWaitFor": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "Jump"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "groupId": {
                                                    "type": "string"
                                                  },
                                                  "blockId": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          }
                                        ]
                                      },
                                      {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "Chatwoot"
                                                ]
                                              },
                                              "options": {
                                                "type": "object",
                                                "properties": {
                                                  "task": {
                                                    "type": "string",
                                                    "enum": [
                                                      "Show widget",
                                                      "Close widget"
                                                    ]
                                                  },
                                                  "baseUrl": {
                                                    "type": "string"
                                                  },
                                                  "websiteToken": {
                                                    "type": "string"
                                                  },
                                                  "user": {
                                                    "type": "object",
                                                    "properties": {
                                                      "id": {
                                                        "type": "string"
                                                      },
                                                      "email": {
                                                        "type": "string"
                                                      },
                                                      "name": {
                                                        "type": "string"
                                                      },
                                                      "avatarUrl": {
                                                        "type": "string"
                                                      },
                                                      "phoneNumber": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "required": [
                                                  "baseUrl",
                                                  "websiteToken"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "groupId",
                                              "type",
                                              "options"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "groupId": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
[...]
