{
  "openapi": "3.0.3",
  "info": {
    "title": "Builder API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.typebot.io/api/v1"
    }
  ],
  "paths": {
    "/t/process": {
      "post": {
        "operationId": "processTelemetryEvent",
        "description": "Only used for the cloud version of Typebot. It's the way it processes telemetry events and inject it to thrid-party services.",
        "tags": [
          "Telemetry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "events": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "workspaceId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "Workspace created"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "plan": {
                                  "type": "string",
                                  "enum": [
                                    "FREE",
                                    "STARTER",
                                    "PRO",
                                    "LIFETIME",
                                    "OFFERED",
                                    "CUSTOM",
                                    "UNLIMITED"
                                  ]
                                }
                              },
                              "required": [
                                "plan"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "workspaceId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "User created"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "email"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "workspaceId": {
                              "type": "string"
                            },
                            "typebotId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "Typebot created"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "template": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "workspaceId",
                            "typebotId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "workspaceId": {
                              "type": "string"
                            },
                            "typebotId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "Typebot published"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "isFirstPublish": {
                                  "type": "boolean",
                                  "enum": [
                                    true
                                  ]
                                }
                              },
                              "required": [
                                "name"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "workspaceId",
                            "typebotId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "workspaceId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "Subscription updated"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "plan": {
                                  "type": "string",
                                  "enum": [
                                    "FREE",
                                    "STARTER",
                                    "PRO",
                                    "LIFETIME",
                                    "OFFERED",
                                    "CUSTOM",
                                    "UNLIMITED"
                                  ]
                                },
                                "additionalChatsIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "plan",
                                "additionalChatsIndex"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "workspaceId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "workspaceId": {
                              "type": "string"
                            },
                            "typebotId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "New results collected"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "number"
                                },
                                "isFirstOfKind": {
                                  "type": "boolean",
                                  "enum": [
                                    true
                                  ]
                                }
                              },
                              "required": [
                                "total"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "workspaceId",
                            "typebotId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "workspaceId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "Workspace limit reached"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "chatsLimit": {
                                  "type": "number"
                                },
                                "totalChatsUsed": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "chatsLimit",
                                "totalChatsUsed"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "workspaceId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string"
                            },
                            "workspaceId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "Workspace automatically quarantined"
                              ]
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "chatsLimit": {
                                  "type": "number"
                                },
                                "totalChatsUsed": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "chatsLimit",
                                "totalChatsUsed"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "userId",
                            "workspaceId",
                            "name",
                            "data"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    }
                  }
                },
                "required": [
                  "events"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Events injected"
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/typebots/{typebotId}/linkedTypebots": {
      "get": {
        "operationId": "getLinkedTypebots",
        "summary": "Get linked typebots",
        "tags": [
          "Typebot"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "typebotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "typebots": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "groups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "graphCoordinates": {
                                  "type": "object",
                                  "properties": {
                                    "x": {
                                      "type": "number"
                                    },
                                    "y": {
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "x",
                                    "y"
                                  ],
                                  "additionalProperties": false
                                },
                                "blocks": {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "start"
                                            ]
                                          },
                                          "label": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "label"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ]
                                          },
                                          "content": {
                                            "type": "object",
                                            "properties": {
                                              "html": {
                                                "type": "string"
                                              },
                                              "richText": {
                                                "type": "array"
                                              },
                                              "plainText": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "richText"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "content"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "image"
                                            ]
                                          },
                                          "content": {
                                            "type": "object",
                                            "properties": {
                                              "url": {
                                                "type": "string"
                                              },
                                              "clickLink": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "type": "string"
                                                  },
                                                  "alt": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "content"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "video"
                                            ]
                                          },
                                          "content": {
                                            "type": "object",
                                            "properties": {
                                              "url": {
                                                "type": "string"
                                              },
                                              "id": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "url",
                                                  "youtube",
                                                  "vimeo"
                                                ]
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "content"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "embed"
                                            ]
                                          },
                                          "content": {
                                            "type": "object",
                                            "properties": {
                                              "url": {
                                                "type": "string"
                                              },
                                              "height": {
                                                "anyOf": [
                                                  {
                                                    "type": "number"
                                                  },
                                                  {}
                                                ]
                                              }
                                            },
                                            "required": [
                                              "height"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "content"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "audio"
                                            ]
                                          },
                                          "content": {
                                            "type": "object",
                                            "properties": {
                                              "url": {
                                                "type": "string"
                                              },
                                              "isAutoplayEnabled": {
                                                "type": "boolean"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "content"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text input"
                                            ]
                                          },
                                          "options": {
                                            "type": "object",
                                            "properties": {
                                              "labels": {
                                                "type": "object",
                                                "properties": {
                                                  "placeholder": {
                                                    "type": "string"
                                                  },
                                                  "button": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "placeholder",
                                                  "button"
                                                ],
                                                "additionalProperties": false
                                              },
                                              "variableId": {
                                                "type": "string"
                                              },
                                              "isLong": {
                                                "type": "boolean"
                                              }
                                            },
                                            "required": [
                                              "labels",
                                              "isLong"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "options"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "choice input"
                                            ]
                                          },
                                          "items": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "blockId": {
                                                  "type": "string",
                                                  "description": "Deprecated"
                                                },
                                                "outgoingEdgeId": {
                                                  "type": "string"
                                                },
                                                "type": {
                                                  "type": "number",
                                                  "enum": [
                                                    0
                                                  ]
                                                },
                                                "content": {
                                                  "type": "string"
                                                },
                                                "displayCondition": {
                                                  "type": "object",
                                                  "properties": {
                                                    "isEnabled": {
                                                      "type": "boolean"
                                                    },
                                                    "condition": {
                                                      "type": "object",
                                                      "properties": {
                                                        "logicalOperator": {
                                                          "type": "string",
                                                          "enum": [
                                                            "OR",
                                                            "AND"
                                                          ]
                                                        },
                                                        "comparisons": {
                                                          "type": "array",
                                                          "items": {
                                                            "type": "object",
                                                            "properties": {
                                                              "id": {
                                                                "type": "string"
                                                              },
                                                              "variableId": {
                                                                "type": "string"
                                                              },
                                                              "comparisonOperator": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "Equal to",
                                                                  "Not equal",
                                                                  "Contains",
                                                                  "Does not contain",
                                                                  "Greater than",
                                                                  "Less than",
                                                                  "Is set",
                                                                  "Is empty",
                                                                  "Starts with",
                                                                  "Ends with",
                                                                  "Matches regex",
                                                                  "Does not match regex"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              }
                                                            },
                                                            "required": [
                                                              "id"
                                                            ],
                                                            "additionalProperties": false
                                                          }
                                                        }
                                                      },
                                                      "required": [
                                                        "logicalOperator",
                                                        "comparisons"
                                                      ],
                                                      "additionalProperties": false
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                }
                                              },
                                              "required": [
                                                "id",
                                                "type"
                                              ],
                                              "additionalProperties": false
                                            }
                                          },
                                          "options": {
                                            "type": "object",
                                            "properties": {
                                              "variableId": {
                                                "type": "string"
                                              },
                                              "isMultipleChoice": {
                                                "type": "boolean"
                                              },
                                              "buttonLabel": {
                                                "type": "string"
                                              },
                                              "dynamicVariableId": {
                                                "type": "string"
                                              },
                                              "isSearchable": {
                                                "type": "boolean"
                                              },
                                              "searchInputPlaceholder": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "isMultipleChoice",
                                              "buttonLabel"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "items",
                                          "options"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "email input"
                                            ]
                                          },
                                          "options": {
                                            "type": "object",
                                            "properties": {
                                              "variableId": {
                                                "type": "string"
                                              },
                                              "labels": {
                                                "type": "object",
                                                "properties": {
                                                  "placeholder": {
                                                    "type": "string"
                                                  },
                                                  "button": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "placeholder",
                                                  "button"
                                                ],
                                                "additionalProperties": false
                                              },
                                              "retryMessageContent": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "labels"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "options"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "number input"
                                            ]
                                          },
                                          "options": {
                                            "type": "object",
                                            "properties": {
                                              "variableId": {
                                                "type": "string"
                                              },
                                              "labels": {
                                                "type": "object",
                                                "properties": {
                                                  "placeholder": {
                                                    "type": "string"
                                                  },
                                                  "button": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "placeholder",
                                                  "button"
                                                ],
                                                "additionalProperties": false
                                              },
                                              "min": {
                                                "anyOf": [
                                                  {
                                                    "type": "number"
                                                  },
                                                  {}
                                                ]
                                              },
                                              "max": {
                                                "anyOf": [
                                                  {
                                                    "type": "number"
                                                  },
                                                  {}
                                                ]
                                              },
                                              "step": {
                                                "anyOf": [
                                                  {
                                                    "type": "number"
                                                  },
                                                  {}
                                                ]
                                              }
                                            },
                                            "required": [
                                              "labels"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "options"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "url input"
                                            ]
                                          },
                                          "options": {
                                            "type": "object",
                                            "properties": {
                                              "variableId": {
                                                "type": "string"
                                              },
                                              "labels": {
                                                "type": "object",
                                                "properties": {
                                                  "placeholder": {
                                                    "type": "string"
                                                  },
                                                  "button": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "placeholder",
                                                  "button"
                                                ],
                                                "additionalProperties": false
                                              },
                                              "retryMessageContent": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "labels",
                                              "retryMessageContent"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "options"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "phone number input"
                                            ]
                                          },
                                          "options": {
                                            "type": "object",
                                            "properties": {
                                              "variableId": {
                                                "type": "string"
                                              },
                                              "labels": {
                                                "type": "object",
                                                "properties": {
                                                  "placeholder": {
                                                    "type": "string"
                                                  },
                                                  "button": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "placeholder",
                                                  "button"
                                                ],
                                                "additionalProperties": false
                                              },
                                              "retryMessageContent": {
                                                "type": "string"
                                              },
                                              "defaultCountryCode": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "labels",
                                              "retryMessageContent"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "options"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "date input"
                                            ]
                                          },
                                          "options": {
                                            "type": "object",
                                            "properties": {
                                              "variableId": {
                                                "type": "string"
                                              },
                                              "labels": {
                                                "type": "object",
                                                "properties": {
                                                  "button": {
                                                    "type": "string"
                                                  },
                                                  "from": {
                                                    "type": "string"
                                                  },
                                                  "to": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "button",
                                                  "from",
                                                  "to"
                                                ],
                                                "additionalProperties": false
                                              },
                                              "hasTime": {
                                                "type": "boolean"
                                              },
                                              "isRange": {
                                                "type": "boolean"
                                              },
                                              "format": {
                                                "type": "string"
                                              },
                                              "min": {
                                                "type": "string"
                                              },
                                              "max": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "labels",
                                              "hasTime",
                                              "isRange"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "options"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "payment input"
                                            ]
                                          },
                                          "options": {
                                            "type": "object",
                                            "properties": {
                                              "variableId": {
                                                "type": "string"
                                              },
                                              "provider": {
                                                "type": "string",
                                                "enum": [
                                                  "Stripe"
                                                ]
                                              },
                                              "labels": {
                                                "type": "object",
                                                "properties": {
                                                  "button": {
                                                    "type": "string"
                                                  },
                                                  "success": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "button"
                                                ],
                                                "additionalProperties": false
                                              },
                                              "additionalInformation": {
                                                "type": "object",
                                                "properties": {
                                                  "description": {
                                                    "type": "string"
                                                  },
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "email": {
                                                    "type": "string"
                                                  },
                                                  "phoneNumber": {
                                                    "type": "string"
                                                  },
                                                  "address": {
                                                    "type": "object",
                                                    "properties": {
                                                      "country": {
                                                        "type": "string"
                                                      },
                                                      "line1": {
                                                        "type": "string"
                                                      },
                                                      "line2": {
                                                        "type": "string"
                                                      },
                                                      "state": {
                                                        "type": "string"
                                                      },
                                                      "city": {
                                                        "type": "string"
                                                      },
                                                      "postalCode": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "additionalProperties": false
                                              },
                                              "credentialsId": {
                                                "type": "string"
                                              },
                                              "currency": {
                                                "type": "string"
                                              },
                                              "amount": {
                                                "type": "string"
                                              },
                                              "retryMessageContent": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "provider",
                                              "labels",
                                              "currency"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "options"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "rating input"
                                            ]
                                          },
                                          "options": {
                                            "type": "object",
                                            "properties": {
                                              "variableId": {
                                                "type": "string"
                                              },
                                              "buttonType": {
                                                "anyOf": [
                                                  {
                                                    "type": "string",
                                                    "enum": [
                                                      "Icons"
                                                    ]
                                                  },
                                                  {
                                                    "type": "string",
                                                    "enum": [
                                                      "Numbers"
                                                    ]
                                                  }
                                                ]
                                              },
                                              "length": {
                                                "type": "number"
                                              },
                                              "labels": {
                                                "type": "object",
                                                "properties": {
                                                  "left": {
                                                    "type": "string"
                                                  },
                                                  "right": {
                                                    "type": "string"
                                                  },
                                                  "button": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "button"
                                                ],
                                                "additionalProperties": false
                                              },
                                              "customIcon": {
                                                "type": "object",
                                                "properties": {
                                                  "isEnabled": {
                                                    "type": "boolean"
                                                  },
                                                  "svg": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "isEnabled"
                                                ],
                                                "additionalProperties": false
                                              },
                                              "isOneClickSubmitEnabled": {
                                                "type": "boolean"
                                              }
                                            },
                                            "required": [
                                              "buttonType",
                                              "length",
                                              "labels",
                                              "customIcon"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "options"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "file input"
                                            ]
                                          },
                                          "options": {
                                            "type": "object",
                                            "properties": {
                                              "variableId": {
                                                "type": "string"
                                              },
                                              "isRequired": {
                                                "type": "boolean"
                                              },
                                              "isMultipleAllowed": {
                                                "type": "boolean"
                                              },
                                              "labels": {
                                                "type": "object",
                                                "properties": {
                                                  "placeholder": {
                                                    "type": "string"
                                                  },
                                                  "button": {
                                                    "type": "string"
                                                  },
                                                  "clear": {
                                                    "type": "string"
                                                  },
                                                  "skip": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "placeholder",
                                                  "button"
                                                ],
                                                "additionalProperties": false
                                              },
                                              "sizeLimit": {
                                                "type": "number",
                                                "description": "Deprecated"
                                              }
                                            },
                                            "required": [
                                              "isMultipleAllowed",
                                              "labels"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "options"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "picture choice input"
                                            ]
                                          },
                                          "items": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "blockId": {
                                                  "type": "string",
                                                  "description": "Deprecated"
                                                },
                                                "outgoingEdgeId": {
                                                  "type": "string"
                                                },
                                                "type": {
                                                  "type": "number",
                                                  "enum": [
                                                    3
                                                  ]
                                                },
                                                "pictureSrc": {
                                                  "type": "string"
                                                },
                                                "title": {
                                                  "type": "string"
                                                },
                                                "description": {
                                                  "type": "string"
                                                },
                                                "displayCondition": {
                                                  "type": "object",
                                                  "properties": {
                                                    "isEnabled": {
                                                      "type": "boolean"
                                                    },
                                                    "condition": {
                                                      "type": "object",
                                                      "properties": {
                                                        "logicalOperator": {
                                                          "type": "string",
                                                          "enum": [
                                                            "OR",
                                                            "AND"
                                                          ]
                                                        },
                                                        "comparisons": {
                                                          "type": "array",
                                                          "items": {
                                                            "type": "object",
                                                            "properties": {
                                                              "id": {
                                                                "type": "string"
                                                              },
                                                              "variableId": {
                                                                "type": "string"
                                                              },
                                                              "comparisonOperator": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "Equal to",
                                                                  "Not equal",
                                                                  "Contains",
                                                                  "Does not contain",
                                                                  "Greater than",
                                                                  "Less than",
                                                                  "Is set",
                                                                  "Is empty",
                                                                  "Starts with",
                                                                  "Ends with",
                                                                  "Matches regex",
                                                                  "Does not match regex"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              }
                                                            },
                                                            "required": [
                                                              "id"
                                                            ],
                                                            "additionalProperties": false
                                                          }
                                                        }
                                                      },
                                                      "required": [
                                                        "logicalOperator",
                                                        "comparisons"
                                                      ],
                                                      "additionalProperties": false
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                }
                                              },
                                              "required": [
                                                "id",
                                                "type"
                                              ],
                                              "additionalProperties": false
                                            }
                                          },
                                          "options": {
                                            "type": "object",
                                            "properties": {
                                              "variableId": {
                                                "type": "string"
                                              },
                                              "isMultipleChoice": {
                                                "type": "boolean"
                                              },
                                              "isSearchable": {
                                                "type": "boolean"
                                              },
                                              "buttonLabel": {
                                                "type": "string"
                                              },
                                              "searchInputPlaceholder": {
                                                "type": "string"
                                              },
                                              "dynamicItems": {
                                                "type": "object",
                                                "properties": {
                                                  "isEnabled": {
                                                    "type": "boolean"
                                                  },
                                                  "titlesVariableId": {
                                                    "type": "string"
                                                  },
                                                  "descriptionsVariableId": {
                                                    "type": "string"
                                                  },
                                                  "pictureSrcsVariableId": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "buttonLabel",
                                              "searchInputPlaceholder"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "items",
                                          "options"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "Code"
                                            ]
                                          },
                                          "options": {
                                            "type": "object",
                                            "properties": {
                                              "name": {
                                                "type": "string"
                                              },
                                              "content": {
                                                "type": "string"
                                              },
                                              "shouldExecuteInParentContext": {
                                                "type": "boolean"
                                              }
                                            },
                                            "required": [
                                              "name"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "groupId",
                                          "type",
                                          "options"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "groupId": {
                                            "type": "string"
                                          },
                                          "outgoingEdgeId": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "Condition"
                                            ]
                                          },
                                          "items": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "blockId": {
                                                  "type": "string",
                                                  "description": "Deprecated"
                                                },
                                                "outgoingEdgeId": {
                                                  "type": "string"
                                                },
                                                "type": {
                                                  "type": "number",
                                                  "enum": [
                                                    1
                                                  ]
                                                },
                                                "content": {
                                                  "type": "object",
                                                  "properties": {
                                                    "logicalOperator": {
                                                      "type": "string",
                                                      "enum": [
                                                        "OR",
                                                        "AND"
                                                      ]
                                                    },
                                                    "comparisons": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "string"
                                                          },
                                                          "variableId": {
                                                            "type": "string"
                                                          },
                                                          "comparisonOperator": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Equal to",
                                                              "Not equal",
                                                              "Contains",
                                                              "Does not contain",
                                                              "Greater than",
                                                              "Less than",
                                                              "Is set",
                                                              "Is empty",
                                                              "Starts with",
                                                              "Ends with",
                                                              "Matches regex",
                                                              "Does not match regex"
                                                            ]
                                                          },
                                                          "value": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "required": [
                                                          "id"
                                                        ],
                                                        "additionalProperties": false
                                                      }
                                                    }
                                                  },
                                                  "required": [
                                                    "logicalOperator",
                                                    "comparisons"
                                                  ],
                                                  "additionalProperties": false
                                                }
                                              },
                                              "required": [
                                                "id",
                                                "type",
                                                "content"
                                              ],
                                              "additionalProperties": false
[...]
