.disable-scroll-x-behavior {
  overscroll-behavior-x: none;
}

.grabbing * {
  cursor: grabbing;
}

/* * {
  outline: 1px solid #f00 !important;
  opacity: 1 !important;
  visibility: visible !important;
} */

/*Hide track timeline in audio tag in Windows*/
audio::-webkit-media-controls-timeline {
  display: none;
}
audio::-webkit-media-controls-panel {
  justify-content: space-between;
}

.md-link {
  text-decoration: underline;
}
