@import "@typebot.io/ui/colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl md:text-6xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-2xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading font-medium;
}

.text-align-inherit {
  text-align: inherit;
}

/* Offset top position so that it is right below onboarding header */
typebot-standard#onboarding::part(progress-bar-container) {
  top: 55px;
}

/* https://base-ui.com/react/overview/quick-start#set-up-portals */
#__next {
  isolation: isolate;
}
