@import "@typebot.io/ui/colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-align-inherit {
  text-align: inherit;
}

/* TODO: Remove this once Chakra UI is removed */
.chakra-popover__popper {
  z-index: auto !important;
}

/* Offset top position so that it is right below onboarding header */
typebot-standard::part(progress-bar-container) {
  top: 55px;
}
