.slate-inline-code {
  background-color: #a1a1aa;
  color: white;
  padding: 0.125rem 0.25rem;
  border-radius: 0.35rem;
  font-size: small;
}

.slate-bold {
  font-weight: 500;
}

.slate-italic {
  font-style: oblique;
}

.slate-underline {
  text-decoration: underline;
}

.slate-ToolbarButton-active > svg {
  stroke-width: 2px;
}

.slate-ToolbarButton {
  color: gray;
}

.slate-a {
  text-decoration: underline;
}

.slate-html-container > div {
  min-height: 24px;
}
