name: Publish @typebot.io/js package to NPM

on:
  push:
    tags:
      - 'js-v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v4
      - run: pnpm i --frozen-lockfile
      - run: pnpm turbo build --filter=@typebot.io/js...
      - run: cd packages/embeds/js && pnpm publish --no-git-checks --access public
