name: "Close stale issues"

on:
  schedule:
    - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          days-before-stale: 53
          days-before-close: 7
          stale-issue-message: ""
          close-issue-message: "This issue was closed because it has been stalled for 60 days with no activity."
          only-labels: "triage"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
